{% load bootstrap %}
{% load unslugify %}
<div class="row">
    <div class="col-lg-6">
        <h1>Details</h1>
    </div>
    <div class="col-lg-6">
        {% if request.user.permission_budget_manage and saved %}
            <h1>{{ hello }}</h1>
                <h1>{{ model }}</h1>
                <h1><a class="btn btn-success pull-right" href="{% url 'budget_create_api' form.instance.id %}" style="height: 100%">New Budget Calculation Form</a></h1>
        {% endif %}
    </div>
</div>

{% block content %}
{% if form.errors %}
    <div id="error-box" class="alert alert-danger no-remove" style="margin-top: 20px">
        <h3>These errors will prevent the form from being saved</h3>
        {% for id, errors in form.errors.items %}
          {% if not errors.is_warning %}
            {% for error in errors %}
              <p><strong>{{ id|unslugify }}:</strong> {{ error }}</p>
            {% endfor %}
          {% endif %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}

<hr/>
<div class="row">
    <div class="col-sm-6">
        {{form.station_name|bootstrap}}
    </div>
    <div class="col-sm-6">
        {{form.station_code|bootstrap}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{form.date_established|bootstrap}}
    </div>
    <div class="col-sm-6" style="margin: 20px 0px;">
        {{form.has_shelter|bootstrap}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{form.latitude|bootstrap}}
    </div>
    <div class="col-sm-6">
        {{form.longitude|bootstrap}}
    </div>
</div>
