{% load bootstrap %}
<div class="row">
   <div class="col-lg-6">
       <h1>Details</h1>
   </div>
   <div class="col-lg-6">
       <h1><a class="btn btn-success pull-right" href="{% url 'budget_create' form.instance.id %}" style="height: 100%">New Budget Calculation Form</a></h1>
   </div>
</div>

<hr/>
<div class="row">
    <div class="col-sm-6">
        {{form.station_name|bootstrap}}
    </div>
    <div class="col-sm-6">
        {{form.station_code|bootstrap}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{form.date_established|bootstrap}}
    </div>
    <div class="col-sm-6" style="margin: 20px 0px;">
        {{form.has_shelter|bootstrap}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{form.latitude|bootstrap}}
    </div>
    <div class="col-sm-6">
        {{form.longitude|bootstrap}}
    </div>
</div>