{% verbatim %}
<div class="row well">
  <h1>Locations</h1>
  <hr/>
  <div ng-repeat="location in bsCtrl.locations"
       ng-mouseenter="location.hover = true"
       ng-mouseleave="location.hover = false">
    <div class="row">
        <div class="col-sm-12 form-group">
          <label for="locationName">Name</label>
          <input type="text" class="form-control" id="locationName" placeholder="Location Name"
                 ng-model="location.name">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 form-group">
          <label for="latitude">Latitude</label>
          <input type="text" class="form-control" id="latitude" placeholder="Latitude"
                 ng-model="location.latitude">
        </div>
        <div class="col-sm-6 form-group">
          <label for="longitude">Longitude</label>
          <input type="text" class="form-control" id="longitude" placeholder="Longitude"
                 ng-model="location.longitude">
        </div>
    </div>
    <div class="row col-xs-12">
      <button class="btn btn-danger pull-left animated"
              ng-class="{fadeIn: location.hover, fadeOut: !location.hover}">Remove {{location.name}}</button>
    </div>
    <br/>
    <hr ng-if="!$last && bsCtrl.locations.length > 1"/>
  </div>
  <h4 class="col-xs-12 text-center"
      ng-if="bsCtrl.locations.length == 0">No Locations</h4>
  <button class="btn btn-success pull-right">Add Location</button>
</div>
{% endverbatim %}
