{% load bootstrap %}
{% load widget_tweaks %}

<hr/>
{{person_form.id}}
<span class="delete_checkbox">{{ person_form.DELETE }}</span>
<div class="row">
    <div class="col-sm-6">
        {{person_form.first_name|bootstrap}}
    </div>
    <div class="col-sm-6">
        {{person_form.last_name|bootstrap}}
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {{person_form.email|bootstrap}}
        <p hidden="true">{{person_form.salary}}</p>
    </div>
    <div class="col-sm-6" style="margin: 23px 0px">
        {{person_form.receives_money_distribution_form|bootstrap}}
    </div>
</div>
