{% extends "base.html" %}

{% load bootstrap %}

{% block tab_block %}
<form id="borderstation-form" method="POST">
        {% csrf_token %}
    <div class="row">
        {% include "static_border_stations/borderstation_form.html" %}
    </div>
    {{ inlines.0.management_form }}
    {{ inlines.1.management_form }}
    {{ inlines.2.management_form }}
    <div class="row">
        <h1>Staff</h1>
        {% for staff_form in inlines.0 %}
        <div id='{{staff_form.prefix}}'>
            {% include "static_border_stations/person_form.html" with person_form=staff_form %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1>Committee Member</h1>
        {% for cm_form in inlines.1 %}
        <div id='{{cm_form.prefix}}'>
            {% include "static_border_stations/person_form.html" with person_form=cm_form %}
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1>Locations</h1>
        {% for location_form in inlines.2 %}
        <div id='{{location_form.prefix}}'>
            {% include "static_border_stations/location_form.html" with location_form=location_form %}
        </div>
        {% endfor %}
    </div>
    <br/>
    {% if request.get_full_path|slice:"40:46" == "create" or request.get_full_path|slice:"40:46" == "update" %}
    <div class="row">
        {% url 'borderstations_create' as borderstations_create_url %}
        {% if request.path == borderstations_create_url %}
        <input type="submit" class="pull-right btn btn-primary navbar-btn btn-lg" value="Create" />
        {% else %}
        <input type="submit" class="pull-right btn btn-primary navbar-btn btn-lg" value="Update" />
        {% endif %}
    </div>
    {% endif %}
</form>
<script type="text/javascript">
    /* Allows for the creation of more or less staff/committee members */
    {% if request.get_full_path|slice:"40:46" == "update" or request.get_full_path|slice:"40:46" == "create" %}
    $(function() {
        {% for formset in inlines.0 %}
        $('div#{{ formset.prefix }}').formset({
           prefix: '{{ formset.prefix }}',
           formCssClass: 'staff-formset{{ forloop.counter }}',
           addText: '+ Add Another Staff',
           deleteText: 'Remove Staff',
           addCssClass: 'add-staff btn btn-success pull-right',
           deleteCssClass: 'delete-staff btn btn-danger',
        });
        {% endfor %}
        {% for formset in inlines.1 %}
        $('div#{{ formset.prefix }}').formset({
           prefix: '{{ formset.prefix }}',
           formCssClass: 'cm-formset{{ forloop.counter }}',
           addText: '+ Add Another Committee Member',
           deleteText: 'Remove Committee Member',
           addCssClass: 'add-cm btn btn-success pull-right',
           deleteCssClass: 'delete-cm btn btn-danger',
        });
        {% endfor %}
        {% for formset in inlines.2 %}
        $('div#{{ formset.prefix }}').formset({
           prefix: '{{ formset.prefix }}',
           formCssClass: 'location-formset{{ forloop.counter }}',
           addText: '+ Add Another Location',
           deleteText: 'Remove Location',
           addCssClass: 'add-loc btn btn-success pull-right',
           deleteCssClass: 'delete-loc btn btn-danger',
        });
        {% endfor %}
    })
    {% endif %}
    {% url 'borderstations_view' as borderstations_view %}
    {% if not request.user.permission_border_stations_edit and not request.get_full_path|slice:"40:46" == "create" %}
    $(function () {
        var $form = $('#borderstation-form');
        $form.find('input').attr('disabled', 'disabled');
    })
    {% endif %}
</script>
{% endblock %}
