beautifulsoup4
colorama
coverage
Django
django-appconf
django-bootstrap-form
django-bootstrap-pagination
django-braces
django-debug-toolbar
django-extensions
django-extra-views
django-filter
django-imagekit
-e git+https://github.com/denaje/django-templated-email.git@93a9dae9e7ac9446cb848842441a7379dd20d23a#egg=denaje_django_templated_email
django-webtest
django-widget-tweaks
djangorestframework
docutils
easydict
factory-boy
flake8
futures
fuzzywuzzy
gdata
gnureadline
gunicorn
httplib2
ipdb
ipython
jmespath
lxml
mccabe
oauth2client
parse
pep8
pilkit
Pillow
preppy
psycopg2
pyasn1
pyasn1-modules
pyflakes
Pygments
PyPDF2
python-dateutil
python-Levenshtein
pytz
reportlab
rsa
s3transfer
schema
selenium
six
sqlparse
svg2rlg
Unipath
virtualenv
waitress
WebOb
WebTest
wheel
xmltodict
z3c.rml
zope.event
zope.interface
zope.schema
boto
django-storages
