.git
.idea
Vagrantfile
local.env
common.env
.codeship.aes
deploybot_args.env

application/google_cred.json
application/etc/*
application/fixtures/sanitized-data.json
application/media/CACHE/*
application/media/interceptee_photos/*
application/media/scanned_irf_forms/*
application/media/scanned_vif_forms/*
application/media/unassociated_photos/*

\#*#
.vscode/*
.project
.pydevproject
.vagrant/
.#*
.coverage
.nfs*
*.sqlite
*.sqlite3
*.sqlitebak
*.stackdump
*.sw[op]
*~
