*.sqlite
*.sqlite3
*.sqlitebak
*.stackdump
*.swop
*.swo
*~

.#*
.coverage
.idea/
.nfs*

\#*#

backups
db.sqlite3.prod

# Ignore files in STATIC_ROOT
dreamsuite/static/*

env
foo.*

# for now in dev we check in /media
media/

node_modules/
*.pyc
