*.sqlite
*.sqlite3
*.sqlitebak
*.stackdump
*.sw[op]
*~

google_cred.json

.#*
.coverage
.idea/
.nfs*
.vagrant/

\#*#

backups
db.sqlite3.prod

# Ignore files in STATIC_ROOT
application/dreamsuite/static/*


application/.config/
application/google_cred.json

local.env

env
foo.*
foo[1-9]
foo[1-9].*

# for now in dev we check in /media
application/media/
application/src/*
build/nginx/media/*
build/nginx/static/*

node_modules/
*.pyc

# Vagrant Stuff
.vagrant/
.bashrc
.bash_history

access.log
error.log

# Eclipse Stuff
.project
.pydevproject
