diff_output.txt
*.log
*.txt
*.pkl
*.sqlite
*.sqlite3
*.sqlitebak
*.stackdump
*.sw[op]
*~
codeship.aes
deploycfg_key_*
.DS_Store

google_cred.json
dreamsuite_tag

application/lji_social_media/models/

.#*
.coverage
.idea/
.nfs*
.vagrant/
tmp/

\#*#

backups
db.sqlite3.prod

# Ignore files in STATIC_ROOT
application/dreamsuite/static/*
application/dreamsuite/tests/temp/*

application/.config/
application/google_cred.json

local.env
.env

env
foo.*
foo[1-9]
foo[1-9].*

# for now in dev we check in /media
application/media/
application/public/
application/src/*
application/log/*
application/.idea
application/fixtures/sanitized-data.json
application/google_map_key.txt
build/nginx/media/*
build/nginx/static/*

node_modules/
*.pyc

# Vagrant Stuff
.vagrant/
.bashrc
.bash_history

access.log
error.log

# Eclipse Stuff
.project
.pydevproject

# VS Code Stuff
.vscode/*

local.env
deploybot_args.env
/venv/*
codeship.aes
codeship_deploy_key
codeship_deploy_key.pub
codeship.env
application/casedispatcher/log/
.env
