Andrew Smith <asmith@cse20105.cs.local>
Andrew Smith <asmith@matthew.cse.taylor.edu>

Ben Duggan <benaduggan@gmail.com> <bduggan@cse20105.cs.local>

Bryant Sell <bryantsell@gmail.com> <bsell@cse20105.cs.local>
Bryant Sell <bryantsell@gmail.com> bsell93

David Colgan <david@davidscolgan.com>

Devin Moore <devin_moore@taylor.edu> <dmoore@cse20105.cs.local>

Dustin Waldron <dustin_waldron@taylor.edu> <waldrd11@yahoo.com>
Dustin Waldron <dwaldron@cse20105.cs.local> dwaldron

Jon Warren <jwarren@cse20105.cs.local>

Justin Southworth <jsouthwo@users.noreply.github.com>

Ryan Szemplinski <rszempli@cse20105.cs.local>
