version: "3"

services:
  db:
    image: postgres
    container_name: db
    ports:
      - "5432"

  web:
    build: .
    command: /bin/sh /data/bin/run.sh
    stdin_open: true
    tty: true
    volumes:
      - /tmp:/log
      - ./application:/data
    expose:
      - "9001"
    env_file:
      - ./common.env
      - ./local.env
    depends_on:
      - db

  nginx:
    build: build/nginx
    depends_on:
      - web
    volumes:
      - /tmp:/log
      - ./application:/data
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - ./common.env
      - ./local.env

