version: "3"

services:
  db:
    image: postgres:16.0
    container_name: db
    volumes:
      - ./backups:/backups
    ports:
      - "7654:5432"
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust

  web:
    build: .
    command: /bin/sh /data/bin/run.sh
    stdin_open: true
    tty: true
    volumes:
      - ./tmp:/log
      - ./application:/data
    expose:
      - "9001"
    env_file:
      - ./common.env
      - ./local.env
    depends_on:
      - db

  # On windows, is this exiting with code 127?
  # Change line endings to LF for env files, Dockerfile, run.sh, etc and rebuild with 'docker-compose up nginx --build'
  nginx:
    build: build/nginx
    depends_on:
      - web
    volumes:
      - ./tmp:/log
      - ./application:/data
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - ./common.env
      - ./local.env
