SSL_CERT_PATH=
SSL_KEY_PATH=
EMAIL_HOST_PASSWORD=
FCM_KEY_PATH=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_USE_TLS=
EMAIL_HOST=

# Get from Brad if you want to fetch Auth0 users locally or sync django users with Auth0 ones
AUTH0_BACKEND_CLIENT_ID=
AUTH0_BACKEND_CLIENT_SECRET=
AUTH0_MANAGEMENT_BASE_URL=
AUTH0_MANAGEMENT_DOMAIN=

# The database the users are are saved in Auth0 under Authentication -> Database
AUTH0_DATABASE_CONNECTION_ID=

# Get from Brad to run Azure locally
AZURE_STORAGE_ACCOUNT_NAME=
AZURE_ACCOUNT_KEY=
AZURE_CONTAINER=
AZURE_BACKUP_STORAGE_ACCOUNT_NAME=
AZURE_BACKUP_ACCOUNT_KEY=
AZURE_BACKUP_CONTAINER=

# Brad custom for Windows running (without Docker)
# If this is commented in, trying to connect via docker (nginx on port 80) will result in the following
# connection to server at "localhost" (::1), port 7654 failed: Connection refused
# Comment it out to get the correct ports for docker
# DREAMSUITE_LOG=./log/dreamsuite.log
# DB_HOST=localhost
# DB_PORT=7654
# GOOGLE_MAP_KEY=../tmp/google_maps_key.txt