{% extends 'portal/portal_base.html' %}

{% block content %}
    {% verbatim %}
    <div id="tally" ng-controller="MainCtrl as main">
        <div class="col-md-2 hidden-sm"></div>
        <div ng-repeat="day in main.days" class="hidden-xs hidden-sm">
            <div ng-mouseenter="showInt = true" ng-mouseleave="showInt = false; main.onMouseLeave(day)" ng-style="main.changeColor(day)" class="text-center col-md-1 tally-tab">
                <h3 class="day-of-week" ng-bind="day.dayOfWeek"></h3>
                <div ng-repeat="(station,numIntercepts) in day.interceptions">
                    <h4 ng-show="showInt" class="animated tallyFade">{{numIntercepts}} INT in {{station}}</h4>
                </div>
                <h4 ng-show="showInt && main.isEmptyObject(day.interceptions)" class="animated tallyFade">No Interceptions</h4>
            </div>
        </div>
        <div class="col-md-1 hidden-sm"></div>

        <div class="col-xs-2 hidden-md hidden-lg"></div>
        <div class="col-xs-8 hidden-md hidden-lg">
            <span ng-repeat=""></span>
        </div>
        <div class="btn-group" style="top:55px;display:block;position:fixed;right:95px;">
            <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" style="height:20px;">
                <i class="glyphicon glyphicon-menu-hamburger"></i>
            </button>
            <ul class="dropdown-menu" role="menu" style="left:-136px;">
                <li>Hello</li>
            </ul>
        </div>
    </div>
    <div id="map-container" ng-controller="MapCtrl">
        <div id="map-canvas" style="position:absolute; z-index:-100; width:100%; height:100%;"></div>
    </div>
    <div id="content-window" style="width:19%; height:100%; float:left"></div>
    {% endverbatim %}
{% endblock %}
