{% extends "base.html" %}

{% block head %}
<head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChNFPd_bOOnk59AkeKM862OqN80Lvp56g">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var x=document.getElementById('map-canvas');
          x.style.width = window.innerWidth+"px";
          x.style.height = window.innerHeight+"px";
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <style>
      .container{
          width: 100%;
          margin: 0px;
          margin-top: 50px;
          padding: 0px
      }
      #map-canvas{
        margin: 0px;
        padding: 0px
      }
    </style>
  </head>
{% endblock %}

{% block title %}Dreamsuite Dashboard{% endblock %}



{% block tab_block %}
        <div id="map-canvas"></div>
    {% block content %}
    {% endblock %}
{% endblock %}
