{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load humanize %}
{% load unslugify %}




{% block title %}Budget Calculation{% endblock %}

{% block tab_block %}
    {% block content %}
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>

     <h1 style="font-size: 25px; text-align: center">Tiny Hands Nepal - Border Monitoring Station Budget Calculation Form</h1>

     <form id="budget-calc-form" method="post">
        {% csrf_token %}

        <div class="form-page">
            <div class="row">
                <div class="col-md-4">
                    Station Name: {{ form.instance.border_station.station_name }} ({{ form.instance.border_station.station_code }})
                    {{ form.border_station|bootstrap }}
                </div>

                <div class="col-md-2">
                    Date Submitted: {{ form.instance.date_time_entered|date:"D. M. Y."}}
                </div>

                <div class="col-md-4 col-md-offset-7">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>   </th>
                                <th class="text-center">INT</th>
                                <th class="text-center">$/INT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Last Month</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Last 3 Months</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>All Time</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td># of Staff</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Staff Salaries</span></h2>
                    We need to render this from the static station model

                    {{ form2 }}

                </div>
                <div class="col-md-6">
                    <h2 class="background"><span>Shelter</span></h2>
                        <div class="row">
                            <div class="col-lg-2">
                                {{ form.shelter_rent|attr:"data-bind:value: shelterRent"|attr:"class: form-control" }}
                            </div>
                            <div class="col-lg-1" style="padding: 0; margin: 0">
                                <h4 style="text-align: center">+</h4>
                            </div>
                            <div class="col-lg-2">
                                {{ form.shelter_water|attr:"data-bind:value: shelterWater"|attr:"class: form-control" }}
                            </div>
                            <div class="col-lg-1" style="padding: 0; margin: 0">
                                <h4 style="text-align: center">+</h4>
                            </div>
                            <div class="col-lg-2">
                                {{ form.shelter_electricity|attr:"data-bind:value: shelterElectricity"|attr:"class: form-control" }}
                            </div>
                            <div class="col-lg-2">
                                |_________
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                {{ form.shelter_shelter_startup|attr:"data-bind:checked: shelterStartupBool"|bootstrap }}
                            </div>
                            <div class="col-lg-3">
                                {{ form.shelter_shelter_startup_amount|attr:"data-bind:value: shelterStartupAmount"|attr:"class: form-control" }}
                            </div>
                            <div class="col-lg-2 col-lg-offset-2">
                                |_________
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                {{ form.shelter_shelter_two|attr:"data-bind:checked: shelterTwoBool"|bootstrap }}
                            </div>
                            <div class="col-lg-3">
                                {{ form.shelter_shelter_two_amount|attr:"data-bind:value: shelterTwoAmount"|attr:"class: form-control" }}
                            </div>
                            <div class="col-lg-2 col-lg-offset-2">
                                |_________
                            </div>
                        </div>


                        <div class="row" style="text-align: center">
                            <div class="col-lg-offset-6">
                                <u><p>|<span data-bind="text: shelterCheckboxTotal">|<br/></p></u>
                            <label>Shelter Checkbox Total</label>
                            </div>
                        </div>
                        <div class="row" style="text-align: center">
                            <div class="col-lg-offset-6">
                                <u><p>|<span data-bind="text: shelterTotal"></span>|<br/></p></u>
                            <label for="shelterTotal">Shelter TOTAL</label>
                            </div>
                        </div>



                </div>
                <div class="col-lg-6 col-lg-offset-6">
                    <h2 class="background"><span>Food & Gas</span></h2>
                    <div class="row">
                        <div class="col-lg-2">
                            <strong>Intercepted Girls</strong>
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2">
                            {{ form.food_and_gas_number_of_intercepted_girls_multiplier_before|attr:"data-bind:value: foodGasMultiplierBefore"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2">
                            {{ form.food_and_gas_number_of_intercepted_girls|attr:"data-bind:value: foodGasNumberOfGirls"|attr:"class: form-control" }}
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            <strong>Limbo Girls</strong>
                        </div>

                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>

                        <div class="col-lg-2">
                            {{ form.food_and_gas_limbo_girls_multiplier|attr:"data-bind:value: limboMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2">
                            {{ form.food_and_gas_number_of_limbo_girls|attr:"data-bind:value: limboNumberOfGirls"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2">
                            {{ form.food_and_gas_number_of_days|attr:"data-bind:value: limboNumberOfDays"|attr:"class: form-control" }}
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <div class="col-lg-4">
                            <u><p>|<span data-bind="text: foodGasInterceptedGirls"></span>|<br/></p></u>
                            <label>Intercepted TOTAL</label>
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">+</h4>
                        </div>
                        <div class="col-lg-3">
                            <u><p>|<span data-bind="text: foodGasLimboGirls"></span>|<br/></p></u>
                            <label>Limbo TOTAL</label>
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-3">
                            <u><p>|<span data-bind="text: foodTotal"></span>|<br/></p></u>
                            <label>TOTAL FOOD</label>
                        </div>
                    </div>
                 </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Communication</span></h2>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="row" style="padding-bottom: 20px">
                                <div class="col-lg-1"  style="padding:0;">
                                    {{ form.communication_chair|attr:"data-bind:checked: commChairBool" }}
                                </div>
                                <div class="col-lg-5" style="padding-left:0;">
                                    {{ form.communication_chair_amount|attr:"data-bind:value: commChairAmount"|attr:"class: form-control"}}
                                </div>
                                <div class="col-lg-5" style="padding-left:0;">
                                    <strong>{{ form.communication_chair.label }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-1" style="padding:0;">
                                    {{ form.communication_manager|attr:"data-bind:checked: commManagerBool" }}
                                </div>
                                <div class="col-lg-5" style="padding-left:0;">
                                    {{ form.communication_manager_amount|attr:"data-bind:value: commManagerAmount"|attr:"class: form-control" }}
                                </div>
                                <div class="col-lg-6" style="padding-left:0;">
                                    <strong>{{ form.communication_manager_amount.label }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            |_________
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5">
                            {{ form.communication_number_of_staff_with_walkie_talkies|attr:"data-bind:value: commNumberOfStaffWt"|attr:"class: form-control" }}
                            <strong>{{ form.communication_number_of_staff_with_walkie_talkies.label }}</strong>
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-3">
                            {{ form.communication_number_of_staff_with_walkie_talkies_multiplier|attr:"data-bind:value: commNumberOfStaffWtMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2">
                            |_________
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-5">
                            {{ form.communication_each_staff|attr:"data-bind:value: commEachStaffWt"|attr:"class: form-control" }}
                            <strong>{{ form.communication_each_staff.label }}</strong>
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-3">
                            {{ form.communication_each_staff_multiplier|attr:"data-bind:value: commEachStaffWtMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2">
                            |_________
                        </div>
                    </div>
                    <div class="row" style="text-align: center">
                        <div class="col-lg-offset-10">
                            <u><p>|<span data-bind="text: commTotal"></span>|<br/></p></u>
                            <label>TOTAL COMM</label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="background"><span>Awareness</span></h2>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.awareness_contact_cards|attr:"data-bind:checked: awarenessContactCardsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {% comment %}{{ form.awareness_contact_cards_boolean_amount|attr:"data-bind:value: foodGasNumberOfGirls"|bootstrap }}{% endcomment %}
                            {{ form.awareness_contact_cards_amount|attr:"data-bind:value: awarenessContactCardsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.awareness_awareness_party_boolean|attr:"data-bind:checked: awarenessAwarenessPartyBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.awareness_awareness_party|attr:"data-bind:value: awarenessAwarenessPartyAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.awareness_sign_boards_boolean|attr:"data-bind:checked: awarenessSignBoardsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.awareness_sign_boards|attr:"data-bind:value: awarenessSignBoardsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <div class="col-lg-offset-10">
                            <u><p><span data-bind="text: awarenessTotal"></span><br/></p></u>
                            <label>TOTAL AWARENESS</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Travel</span></h2>

                    <div class="row">
                        <div class="col-lg-5">
                            <div class="row" style="padding-bottom: 20px">
                                <div class="col-lg-1"  style="padding:0;">
                                    {{ form.travel_chair_with_bike|attr:"data-bind:checked: travelChairWithBikeBool" }}
                                </div>
                                <div class="col-lg-5" style="padding-left:0;">
                                    {{ form.travel_chair_with_bike_amount|attr:"data-bind:value: travelChairWithBikeAmount"|attr:"class: form-control"}}
                                </div>
                                <div class="col-lg-5" style="padding-left:0;">
                                    <strong>{{ form.travel_chair_with_bike.label }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="row">
                                <div class="col-lg-1" style="padding:0;">
                                    {{ form.travel_manager_with_bike|attr:"data-bind:checked: travelManagerWithBikeBool" }}
                                </div>
                                <div class="col-lg-5" style="padding-left:0;">
                                    {{ form.travel_manager_with_bike_amount|attr:"data-bind:value: travelManagerWithBikeAmount"|attr:"class: form-control" }}
                                </div>
                                <div class="col-lg-6" style="padding-left:0;">
                                    <strong>{{ form.travel_manager_with_bike.label }}</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            |_________
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-5">
                            {{ form.travel_number_of_staff_using_bikes|attr:"data-bind:value: travelNumberOfStaffUsingBikes"|attr:"class: form-control" }}
                            <strong>{{ form.travel_number_of_staff_using_bikes.label }}</strong>
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-3">
                            {{ form.travel_number_of_staff_using_bikes_multiplier|attr:"data-bind:value: travelNumberOfStaffUsingBikesMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2">
                            |_________
                        </div>
                    </div>

                    <div class="row" style="padding: 10px;margin: 10px 10px 10px 10px" >
                        {{ form.travel_last_months_expense_for_sending_girls_home|attr:"data-bind:value: travelSendingGirlsHomeExpense"|bootstrap_horizontal:'col-lg-10'  }}
                    </div>


                    <div class="row">
                        <div class="col-lg-2">
                            {{ form.travel_motorbike|attr:"data-bind:checked: travelMotorbikeBool"|bootstrap }}
                        </div>

                        <div class="col-lg-3">
                            {{ form.travel_motorbike_amount|attr:"data-bind:value: travelMotorbikeAmount"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">+</h4>
                        </div>
                        <div class="col-lg-3">
                            {{ form.travel_plus_other|attr:"data-bind:value: travelOther"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2">
                            |_________
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <div class="col-lg-offset-10">
                            <u><p><span data-bind="text: travelTotal"></span><br/></p></u>
                            <label>TOTAL TRAVEL</label>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <h2 class="background"><span>Supplies</span></h2>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.supplies_walkie_talkies_boolean|attr:"data-bind:checked: suppliesWalkieTalkiesBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_walkie_talkies_amount|attr:"data-bind:value: suppliesWalkieTalkiesAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.supplies_recorders_boolean|attr:"data-bind:checked: suppliesRecordersBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_recorders_amount|attr:"data-bind:value: suppliesRecordersAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.supplies_binoculars_boolean|attr:"data-bind:checked: suppliesBinocularsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_binoculars_amount|attr:"data-bind:value: suppliesBinocularsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-4">
                            {{ form.supplies_flashlights_boolean|attr:"data-bind:checked: suppliesFlashlightsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_flashlights_amount|attr:"data-bind:value: suppliesFlashlightsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>

                    <div class="row" style="text-align: center">
                        <div class="col-lg-offset-10">
                            <u><p><span data-bind="text: suppliesTotal"></span><br/></p></u>
                            <label>TOTAL SUPPLIES</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Administration</span></h2>

                    {{ form.administration_number_of_intercepts_last_month|attr:"data-bind:value: adminNumberOfInterceptionsLastMonth"|bootstrap }}
                    {{ form.administration_number_of_intercepts_last_month_multiplier|attr:"data-bind:value: adminNumberOfInterceptionsLastMonthMultiplier"|bootstrap }}
                    {{ form.administration_number_of_intercepts_last_month_adder|attr:"data-bind:value: adminNumberOfInterceptionsLastMonthAdder"|bootstrap }}
                    {{ form.administration_number_of_meetings_per_month|attr:"data-bind:value: adminNumberOfMeetingsPerMonth"|bootstrap }}
                    {{ form.administration_number_of_meetings_per_month_multiplier|attr:"data-bind:value: adminNumberOfMeetingsPerMonthMultiplier"|bootstrap }}
                    {{ form.administration_booth|attr:"data-bind:checked: adminBoothBool"|bootstrap }}
                    {{ form.administration_booth_amount|attr:"data-bind:value: adminBoothAmount"|bootstrap }}
                    {{ form.administration_registration|attr:"data-bind:checked: adminRegistrationBool"|bootstrap }}
                    {{ form.administration_registration_amount|attr:"data-bind:value: adminRegistrationAmount"|bootstrap }}
                    <label>Stationary</label>
                    <p>The total is <span data-bind="text: adminStationaryTotal"></span><br/></p>
                    <label>Meetings</label>
                    <p>The total is <span data-bind="text: adminMeetingsTotal"></span><br/></p>
                    <label>Booth Rental</label>
                    <p>The total is <span data-bind="text: adminBoothRentalTotal"></span><br/></p>
                    <label>ADMIN TOTAL</label>
                    <p>The total is <span data-bind="text: adminTotal"></span><br/></p>
                </div>
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Border Monitoring Station</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Salaries</td>
                                <td width="25%"></td>
                                <td class="active" width="25%"></td>
                            </tr>
                            <tr>
                                <td>Comm.</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Travel</td>
                                <td><p data-bind="text: travelTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Admin.</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Medical</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Misc.</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>TOTAL</b></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="warning">
                                <th colspan="3" class="text-center">Safe Houses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="warning">Shelter</td>
                                <td class="warning"><p data-bind="text: shelterTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td class="warning">Food</td>
                                <td class="warning"><p data-bind="text: foodTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr class="warning">
                                <td class="text-right"><b>TOTAL</b></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="text-center"><b>Awareness</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>Supplies</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>STATION TOTAL</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="text-center">Last month's TOTAL</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Medical</span></h2>
                    {{ form.medical_last_months_expense|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Miscellaneous</span></h2>
                    {{ form.miscellaneous_number_of_intercepts_last_month|bootstrap }}
                    {{ form.miscellaneous_number_of_intercepts_last_month_multiplier|bootstrap }}

                </div>
            </div>

        </div>

     <script type='text/javascript' src="{{ STATIC_URL }}budget.js"></script>
     </form>
        <div class="row">

            <input type="submit" class="pull-right btn btn-primary navbar-btn btn-lg" value="Create" />
    </div>
     </form>




    {% endblock %}
{% endblock %}