{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load humanize %}
{% load unslugify %}

<script type='text/javascript' src='static/knockout.js'></script>
<script type='text/javascript' src='static/budget.js'></script>

{% block title %}Budget Calculation{% endblock %}

{% block tab_block %}
    {% block content %}

     <h1 style="font-size: 25px; text-align: center">Tiny Hands Nepal - Border Monitoring Station Budget Calculation Form</h1>

     <form id="budget-calc-form" method="post">
        {% csrf_token %}

        <div class="form-page">
            <div class="row">
                <div class="col-md-4">
                    Station Name: {{ form.instance.border_station.station_name }} ({{ form.instance.border_station.station_code }})
                    {{ form.border_station|bootstrap }}
                </div>

                <div class="col-md-2">
                    Date Submitted: {{ form.instance.date_time_entered|date:"D. M. Y."}}
                </div>

                <div class="col-md-4 col-md-offset-7">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>   </th>
                                <th class="text-center">INT</th>
                                <th class="text-center">$/INT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Last Month</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Last 3 Months</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>All Time</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td># of Staff</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Staff Salaries</span></h2>

                    We need to render this from the static station model
                </div>
                <div class="col-md-6">
                    <h2 class="background"><span>Shelter</span></h2>
                        <td>{{ form.shelter_rent|bootstrap}}</td>
                        <td>{{ form.shelter_water|bootstrap }}</td>
                        <td>{{ form.shelter_electricity|bootstrap }}</td>
                    {{ form.shelter_shelter_startup|bootstrap }}
                    {{ form.shelter_shelter_startup_amount|bootstrap }}
                    {{ form.shelter_shelter_two|bootstrap }}
                    {{ form.shelter_shelter_two_amount|bootstrap }}
                </div>
                <div class="col-md-6 col-md-offset-6">
                    <h2 class="background"><span>Food & Gas</span></h2>
                    {{ form.food_and_gas_number_of_intercepted_girls|bootstrap }}
                    {{ form.food_and_gas_number_of_intercepted_girls_multiplier_before|bootstrap }}
                    {{ form.food_and_gas_number_of_intercepted_girls_multiplier_after|bootstrap }}
                    {{ form.food_and_gas_limbo_girls_multiplier|bootstrap }}
                    {{ form.food_and_gas_number_of_limbo_girls|bootstrap }}
                    {{ form.food_and_gas_number_of_days|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Communication</span></h2>
                    {{ form.communication_chair|bootstrap }}
                    {{ form.communication_chair_amount|bootstrap }}
                    {{ form.communication_manager|bootstrap }}
                    {{ form.communication_manager_amount|bootstrap }}
                    {{ form.communication_number_of_staff_with_walkie_talkies|bootstrap }}
                    {{ form.communication_number_of_staff_with_walkie_talkies_multiplier|bootstrap }}
                    {{ form.communication_each_staff|bootstrap }}
                    {{ form.communication_each_staff_multiplier|bootstrap }}
                </div>
                <div class="col-md-6">
                    <h2 class="background"><span>Awareness</span></h2>
                    {{ form.awareness_contact_cards|bootstrap }}
                    {{ form.awareness_contact_cards_boolean_amount|bootstrap }}
                    {{ form.awareness_contact_cards_amount|bootstrap }}
                    {{ form.awareness_awareness_party_boolean|bootstrap }}
                    {{ form.awareness_awareness_party|bootstrap }}
                    {{ form.awareness_sign_boards_boolean|bootstrap }}
                    {{ form.awareness_sign_boards|bootstrap }}

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Travel</span></h2>
                    {{ form.travel_chair_with_bike|bootstrap }}
                    {{ form.travel_chair_with_bike_amount|bootstrap }}
                    {{ form.travel_manager_with_bike|bootstrap }}
                    {{ form.travel_manager_with_bike_amount|bootstrap }}
                    {{ form.travel_number_of_staff_using_bikes|bootstrap }}
                    {{ form.travel_number_of_staff_using_bikes_multiplier|bootstrap }}
                    {{ form.travel_last_months_expense_for_sending_girls_home|bootstrap }}
                    {{ form.travel_motorbike|bootstrap }}
                    {{ form.travel_motorbike_amount|bootstrap }}
                    {{ form.travel_plus_other|bootstrap }}
                </div>

                <div class="col-md-6">
                    <h2 class="background"><span>Supplies</span></h2>
                    {{ form.supplies_walkie_talkies_boolean|bootstrap }}
                    {{ form.supplies_walkie_talkies_amount|bootstrap }}
                    {{ form.supplies_recorders_boolean|bootstrap }}
                    {{ form.supplies_recorders_amount|bootstrap }}
                    {{ form.supplies_binoculars_boolean|bootstrap }}
                    {{ form.supplies_binoculars_amount|bootstrap }}
                    {{ form.supplies_flashlights_boolean|bootstrap }}
                    {{ form.supplies_flashlights_amount|bootstrap }}

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Administration</span></h2>

                    {{ form.administration_number_of_intercepts_last_month|bootstrap }}
                    {{ form.administration_number_of_intercepts_last_month_multiplier|bootstrap }}
                    {{ form.administration_number_of_intercepts_last_month_adder|bootstrap }}
                    {{ form.administration_number_of_meetings_per_month|bootstrap }}
                    {{ form.administration_number_of_meetings_per_month_multiplier|bootstrap }}
                    {{ form.administration_booth|bootstrap }}
                    {{ form.administration_booth_amount|bootstrap }}
                    {{ form.administration_registration|bootstrap }}
                    {{ form.administration_registration_amount|bootstrap }}
                </div>
                <div class="col-md-6">
                    <h2 class="background"><span></span></h2>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Border Monitoring Station</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Salaries</td>
                                <td width="25%"></td>
                                <td class="active" width="25%"></td>
                            </tr>
                            <tr>
                                <td>Comm.</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Travel</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Admin.</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Medical</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Misc.</td>
                                <td></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>TOTAL</b></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="warning">
                                <th colspan="3" class="text-center">Safe Houses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="warning">Shelter</td>
                                <td class="warning"></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td class="warning">Food</td>
                                <td class="warning"></td>
                                <td class="active"></td>
                            </tr>
                            <tr class="warning">
                                <td class="text-right"><b>TOTAL</b></td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="text-center"><b>Awareness</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>Supplies</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>STATION TOTAL</b></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td class="text-center">Last month's TOTAL</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Medical</span></h2>
                    {{ form.medical_last_months_expense|bootstrap }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Miscellaneous</span></h2>
                    {{ form.miscellaneous_number_of_intercepts_last_month|bootstrap }}
                    {{ form.miscellaneous_number_of_intercepts_last_month_multiplier|bootstrap }}

                </div>
            </div>

        </div>
        <div class="row">

            <input type="submit" class="pull-right btn btn-primary navbar-btn btn-lg" value="Create" />
    </div>
     </form>



    {% endblock %}
{% endblock %}