{% extends 'base.html' %}
{% load widget_tweaks %}
{% load bootstrap %}
{% load humanize %}
{% load unslugify %}




{% block title %}Budget Calculation{% endblock %}

{% block tab_block %}
    {% block content %}
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-3.2.0.js"></script>

     <h1 style="font-size: 25px; text-align: center">Tiny Hands Nepal - Border Monitoring Station Budget Calculation Form</h1>

     <form id="budget-calc-form" method="post">
        {% csrf_token %}
        <!-- First Table Thing -->
        <div class="form-page">
            <div class="row">
                <div class="col-md-4">
                </div>

                <div class="col-md-2">
                </div>

                <div class="col-md-4 col-md-offset-7">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>   </th>
                                <th class="text-center">INT</th>
                                <th class="text-center">$/INT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Last Month</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Last 3 Months</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>All Time</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td># of Staff</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End First Table Thingy -->

            <!-- Shelter -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Staff Salaries</span></h2>
                    {{ staff_formset.management_form }}
                    {% for staff_form in staff_formset %}
                        {% for hidden in staff_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {{ staff_form.id }}
                        {{ staff_form.border_station|attr:"hidden: true"}}
                        {{ staff_form.email|attr:"hidden: true" }}
                        {{ staff_form.first_name|attr:"hidden: true" }}
                        {{ staff_form.last_name|attr:"hidden: true" }}
                        <div class="row">
                            <div class="col-lg-4">
                                <h3>
                                    {{ staff_form.instance.first_name }}
                                    {{ staff_form.instance.last_name }}
                                </h3>
                            </div>
                            <div class="col-lg-8">
                                {{ staff_form.salary|bootstrap }}
                            </div>
                        </div>

                    {% endfor %}
                    We need to render this from the static station model
                </div>
                <div class="col-md-6">
                    <h2 class="background"><span>Shelter</span></h2>
                    <div class="row">
                        <div class="col-lg-2 input-with-text calc-form-input-no-width" style="width: 100px; padding: 0">
                            {{ form.shelter_rent|attr:"data-bind:value: shelterRent"|attr:"class: form-control" }}
                            <small>Rent</small>
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0">
                            <h4 style="text-align: center">+</h4>
                        </div>
                        <div class="col-lg-2 input-with-text calc-form-input-no-width" style="width: 100px; padding: 0">
                            {{ form.shelter_water|attr:"data-bind:value: shelterWater"|attr:"class: form-control" }}
                            <small>Water</small>
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0">
                            <h4 style="text-align: center">+</h4>
                        </div>
                        <div class="col-lg-2 input-with-text calc-form-input-no-width" style="width: 100px; padding: 0">
                            {{ form.shelter_electricity|attr:"data-bind:value: shelterElectricity"|attr:"class: form-control" }}
                            <small>Electricity</small>
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-1 pull-right input-group" style="width: 100px; text-align: center; padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: utilTotal" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 30px; text-align: center">
                        <div class="col-lg-2" style="margin-top: 5px; width: 50px">
                            {{ form.shelter_shelter_startup|attr:"data-bind:checked: shelterStartupBool" }}
                        </div>
                        <div class="col-lg-2 input-with-text" style="width: 100px; padding: 0">
                            {{ form.shelter_shelter_startup_amount|attr:"data-bind:value: shelterStartupAmount"|attr:"class: form-control" }}
                            <small>Shelter Startup</small>
                        </div>
                        <div class="col-lg-2" style="margin-top: 5px; width: 50px">
                            {{ form.shelter_shelter_two|attr:"data-bind:checked: shelterTwoBool" }}
                        </div>
                        <div class="col-lg-2 input-with-text" style="width: 100px; padding: 0">
                            {{ form.shelter_shelter_two_amount|attr:"data-bind:value: shelterTwoAmount"|attr:"class: form-control" }}
                            <small>Shelter 2</small>
                        </div>
                        <div class="col-lg-1" style="padding: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-1 pull-right input-group" style="width: 100px; text-align: center; padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: shelterCheckboxTotal" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Shelter Total</label>
                        <input class="form-control text-center" data-bind="value: shelterTotal" disabled="disabled"/>
                    </div>
                </div>
                <!-- End Shelter -->

                <!-- Food & Gas -->
                <div class="col-lg-6 col-lg-offset-6">
                    <h2 class="background"><span>Food & Gas</span></h2>
                    <div class="row">
                        <div class="col-lg-2 text-center">
                            <strong>Intercepted Girls</strong>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input">
                            {{ form.food_and_gas_number_of_intercepted_girls_multiplier_before|attr:"data-bind:value: foodGasMultiplierBefore"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input input-with-text">
                            {{ form.food_and_gas_number_of_intercepted_girls|attr:"data-bind:value: foodGasNumberOfGirls"|attr:"class: form-control" }}
                            <small># of Girls</small>
                        </div>
                         <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input">
                            {{ form.food_and_gas_number_of_intercepted_girls_multiplier_after|attr:"data-bind: value: foodGasMultiplierAfter"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: foodGasInterceptedGirls" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-lg-2 text-center">
                            <strong>Limbo Girls</strong>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input">
                            {{ form.food_and_gas_limbo_girls_multiplier|attr:"data-bind:value: limboMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input input-with-text">
                            {{ form.food_and_gas_number_of_limbo_girls|attr:"data-bind:value: limboNumberOfGirls"|attr:"class: form-control" }}
                            <small># of Girls</small>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input input-with-text">
                            {{ form.food_and_gas_number_of_days|attr:"data-bind:value: limboNumberOfDays"|attr:"class: form-control" }}
                            <small># of Days</small>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: foodGasLimboGirls" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Food</label>
                        <input class="form-control text-center" data-bind="value: foodTotal" disabled="disabled"/>
                    </div>
                 </div>
            </div>
            <!-- End Food & Gas -->

            <!-- Communication -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Communication</span></h2>
                    <div class="row">
                        <div class="col-md-6 form-inline">
                            <span style="padding-right: 10px">{{ form.communication_chair | attr:"data-bind: checked: commChairBool"}}</span>
                            {{ form.communication_chair_amount | attr:"class: form-control" | attr:"style: width: 100px" | attr:"data-bind:value: commChairAmount"}}
                            <span style="padding-left: 10px"><small>for chair</small></span>
                        </div>
                        <div class="col-md-6 form-inline">
                            <span style="padding-right: 10px">{{ form.communication_manager | attr:"data-bind: checked: commManagerBool" }}</span>
                            {{ form.communication_manager_amount | attr:"class: form-control" | attr:"style: width: 100px" | attr:"data-bind:value: commManagerAmount" }}
                            <span style="padding-left: 10px;"><small>for manager</small></span>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px">
                        <div class="col-lg-5 calc-form-input-no-width input-with-text" style="width: 200px">
                            {{ form.communication_number_of_staff_with_walkie_talkies|attr:"data-bind:value: commNumberOfStaffWt"|attr:"class: form-control" }}
                            <small># of staff with walkie-talkies</small>
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-3 calc-form-input-no-width">
                            {{ form.communication_number_of_staff_with_walkie_talkies_multiplier|attr:"data-bind:value: commNumberOfStaffWtMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input-no-width pull-right input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: commNumberOfStaffTotal" disabled="disabled"/>
                        </div>
                    </div>



                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-5 calc-form-input-no-width input-with-text" style="width: 200px">
                            {{ form.communication_each_staff|attr:"data-bind:value: commEachStaffWt"|attr:"class: form-control" }}
                            <small>Each Staff</small>
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-3 calc-form-input-no-width">
                            {{ form.communication_each_staff_multiplier|attr:"data-bind:value: commEachStaffWtMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input-no-width pull-right input-group">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: commEachStaffTotal" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Communcation</label>
                        <input class="form-control text-center" data-bind="value: commTotal" disabled="disabled"/>
                    </div>
                </div>
                <!-- End Communication -->

                <!-- Awareness -->
                <div class="col-lg-6">
                    <h2 class="background"><span>Awareness</span></h2>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.awareness_contact_cards|attr:"data-bind:checked: awarenessContactCardsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.awareness_contact_cards_boolean_amount|attr:"data-bind:value: foodGasNumberOfGirls"|bootstrap }}
                            {{ form.awareness_contact_cards_amount|attr:"data-bind:value: awarenessContactCardsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.awareness_awareness_party_boolean|attr:"data-bind:checked: awarenessAwarenessPartyBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.awareness_awareness_party|attr:"data-bind:value: awarenessAwarenessPartyAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.awareness_sign_boards_boolean|attr:"data-bind:checked: awarenessSignBoardsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.awareness_sign_boards|attr:"data-bind:value: awarenessSignBoardsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Awareness</label>
                        <input class="form-control text-center" data-bind="value: awarenessTotal" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <!-- End Awareness -->

            <!-- Travel -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Travel</span></h2>

                    <div class="row">
                        <div class="col-md-6 form-inline">
                            <span style="padding-right: 10px">{{ form.travel_chair_with_bike | attr:"data-bind: checked: travelChairWithBikeBool"}}</span>
                            {{ form.travel_chair_with_bike_amount | attr:"class: form-control" | attr:"style: width: 100px" | attr:"data-bind:value: travelChairWithBikeAmount"}}
                            <span style="padding-left: 10px"><small>for chair</small></span>
                        </div>
                        <div class="col-md-6 form-inline">
                            <span style="padding-right: 10px">{{ form.travel_manager_with_bike | attr:"data-bind: checked: travelManagerWithBikeBool" }}</span>
                            {{ form.travel_manager_with_bike_amount | attr:"class: form-control" | attr:"style: width: 100px" | attr:"data-bind:value: travelManagerWithBikeAmount" }}
                            <span style="padding-left: 10px;"><small>for manager</small></span>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 20px; padding-left: 15px">
                        <div class="col-lg-5 calc-form-input-no-width input-with-text" style="width: 150px">
                            {{ form.travel_number_of_staff_using_bikes|attr:"data-bind:value: travelNumberOfStaffUsingBikes"|attr:"class: form-control" }}
                            <small># of staff using bikes</small>
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-3 calc-form-input-no-width">
                            {{ form.travel_number_of_staff_using_bikes_multiplier|attr:"data-bind:value: travelNumberOfStaffUsingBikesMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-lg-1 form-symbol" style="padding: 0; margin: 0">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: travelNumberOfStaffUsingBikesTotal" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row form-inline" style="margin-top: 30px">
                        <div class="col-lg-11">
                            <span><strong>Last month's expense for sending girls home: </strong></span>
                            {{ form.travel_last_months_expense_for_sending_girls_home|attr:"data-bind:value: travelSendingGirlsHomeExpense"|attr:"class: form-control"|attr:"style: width: 150px" }}
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                    </div>


                    <div class="row" style="margin-top: 30px; padding-left: 15px">
                        <div class="col-lg-2">
                            {{ form.travel_motorbike|attr:"data-bind:checked: travelMotorbikeBool" }}
                        </div>
                        <div class="col-lg-3 calc-form-input-no-width input-with-text">
                            {{ form.travel_motorbike_amount|attr:"data-bind:value: travelMotorbikeAmount"|attr:"class: form-control" }}
                            <small>Motorbike</small>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">+</h4>
                        </div>
                        <div class="col-lg-3 calc-form-input-no-width input-with-text">
                            {{ form.travel_plus_other|attr:"data-bind:value: travelOther"|attr:"class: form-control" }}
                            <small>Other</small>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: travelNumberOfStaffUsingBikesTotal" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Travel</label>
                        <input class="form-control text-center" data-bind="value: travelTotal" disabled="disabled"/>
                    </div>

                </div>
                <!-- End Travel -->

                <!-- Supplies -->
                <div class="col-md-6">
                    <h2 class="background"><span>Supplies</span></h2>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.supplies_walkie_talkies_boolean|attr:"data-bind:checked: suppliesWalkieTalkiesBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_walkie_talkies_amount|attr:"data-bind:value: suppliesWalkieTalkiesAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.supplies_recorders_boolean|attr:"data-bind:checked: suppliesRecordersBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_recorders_amount|attr:"data-bind:value: suppliesRecordersAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.supplies_binoculars_boolean|attr:"data-bind:checked: suppliesBinocularsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_binoculars_amount|attr:"data-bind:value: suppliesBinocularsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            {{ form.supplies_flashlights_boolean|attr:"data-bind:checked: suppliesFlashlightsBool"|bootstrap }}
                        </div>
                        <div class="col-lg-4">
                            {{ form.supplies_flashlights_amount|attr:"data-bind:value: suppliesFlashlightsAmount"|attr:"class: form-control" }}
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Supplies</label>
                        <input class="form-control text-center" data-bind="value: suppliesTotal" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <!-- End Supplies -->

            <!-- Administration -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Administration</span></h2>
                    <div class="row">
                        <div class="col-md-2 input-with-text calc-form-input-no-width">
                            {{ form.administration_number_of_intercepts_last_month|attr:"data-bind:value: adminNumberOfInterceptionsLastMonth"|attr:"class: form-control" }}
                            <small># of intercepts last month</small>
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-md-2 calc-form-input-no-width">
                            {{ form.administration_number_of_intercepts_last_month_multiplier|attr:"data-bind:value: adminNumberOfInterceptionsLastMonthMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">+</h4>
                        </div>
                        <div class="col-md-2 calc-form-input-no-width">
                            {{ form.administration_number_of_intercepts_last_month_adder|attr:"data-bind:value: adminNumberOfInterceptionsLastMonthAdder"|attr:"class: form-control" }}
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="width: 150px; padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: adminStationaryTotal" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row row-padding" >
                        <div class="col-md-2 input-with-text calc-form-input-no-width">
                            {{ form.administration_number_of_meetings_per_month|attr:"data-bind:value: adminNumberOfMeetingsPerMonth"|attr:"class: form-control" }}
                            <small># of meetings per month</small>
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-md-2 calc-form-input-no-width">
                            {{ form.administration_number_of_meetings_per_month_multiplier|attr:"data-bind:value: adminNumberOfMeetingsPerMonthMultiplier"|attr:"class: form-control" }}
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="width: 150px; padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: adminMeetingsTotal" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row row-padding">
                        <div class="col-lg-2" style="margin-top: 7px; width: 50px">
                            <small>{{ form.administration_booth|attr:"data-bind:checked: adminBoothBool" }}</small>
                        </div>
                        <div class="col-lg-2 input-with-text" style="width: 100px; padding: 0">
                            {{ form.administration_booth_amount|attr:"data-bind:value: adminBoothAmount"|attr:"class: form-control" }}
                            <small>Booth</small>
                        </div>
                        <div class="col-lg-2" style="margin-top: 7px; width: 50px">
                            {{ form.administration_registration|attr:"data-bind:checked: adminRegistrationBool" }}
                        </div>
                        <div class="col-lg-2 input-with-text" style="widthL 100px; padding: 0">
                            {{ form.administration_registration_amount|attr:"data-bind:value: adminRegistrationAmount"|attr:"class: form-control"}}
                            <small>Registration</small>
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="width: 150px; padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: adminBoothRentalTotal" disabled="disabled"/>
                        </div>
                    </div>

                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Admininstration</label>
                        <input class="form-control text-center" data-bind="value: adminTotal" disabled="disabled"/>
                    </div>
                </div>
                <!-- End Administration -->

                <!-- Total Table -->
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th colspan="3" class="text-center">Border Monitoring Station</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Salaries</td>
                                <td width="25%"></td>
                                <td class="active" width="25%"></td>
                            </tr>
                            <tr>
                                <td>Comm.</td>
                                <td><p data-bind="text: commTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Travel</td>
                                <td><p data-bind="text: travelTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Admin.</td>
                                <td><p data-bind="text: adminTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Medical</td>
                                <td><p data-bind="text: medicalTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td>Misc.</td>
                                <td><p data-bind="text: miscTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>TOTAL</b></td>
                                <td colspan="2"><p data-bind="text: bunchTotal"></p></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr class="warning">
                                <th colspan="3" class="text-center">Safe Houses</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="warning">Shelter</td>
                                <td class="warning"><p data-bind="text: shelterTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr>
                                <td class="warning">Food</td>
                                <td class="warning"><p data-bind="text: foodTotal"></p></td>
                                <td class="active"></td>
                            </tr>
                            <tr class="warning">
                                <td class="text-right"><b>TOTAL</b></td>
                                <td colspan="2"><p data-bind="text: foodAndShelterTotal"></p></td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="text-center"><b>Awareness</b></td>
                                <td colspan="2"><p data-bind="text: awarenessTotal"></p></td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>Supplies</b></td>
                                <td colspan="2"><p data-bind="text: suppliesTotal"></p></td>
                            </tr>
                            <tr>
                                <td class="text-center"><b>STATION TOTAL</b></td>
                                <td colspan="2"><p data-bind="text: stationTotal"></p></td>
                            </tr>
                            <tr>
                                <td class="text-center">Last month's TOTAL</td>
                                <td colspan="2"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <!-- End Table -->

            <!-- Medical -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Medical</span></h2>
                    <div class="row form-inline">
                        <div class="col-md-5 pull-left input-with-text" style="width: 270px">
                            {{ form.medical_last_months_expense|attr:"data-bind:value: medicalExpense"|attr:"class: form-control text-center" }}
                            <small>Last month's medical expense</small>
                        </div>
                        <div class="col-md-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-md-6" style="width: 260px">
                            <input class="form-control text-center pull-right" data-bind="value: medicalTotal" disabled="disabled"/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Medical -->

            <!-- Miscellaneous -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="background"><span>Miscellaneous</span></h2>
                    <div class="row">
                        <div class="col-lg-2 input-with-text calc-form-input-no-width">
                            {{ form.miscellaneous_number_of_intercepts_last_month|attr:"class: form-control"|attr:"data-bind:value: miscNumberOfIntercepts" }}
                            <small># of intercepts last month</small>
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">*</h4>
                        </div>
                        <div class="col-lg-2 calc-form-input-no-width">
                            {{ form.miscellaneous_number_of_intercepts_last_month_multiplier|attr:"class: form-control"|attr:"data-bind:value: miscNumberOfInterceptsMult" }}
                        </div>
                        <div class="col-lg-1 form-symbol">
                            <h4 style="text-align: center">=</h4>
                        </div>
                        <div class="col-lg-2 pull-right input-group" style="padding: 0">
                            <div class="input-group-addon">$</div>
                            <input class="form-control text-center" data-bind="value: miscMaximum" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row center" style="margin-top: 20px; padding-right: 200px; padding-left: 200px; text-align: center">
                        <label>Total Miscellaneous</label>
                        <input class="form-control text-center" data-bind="value: miscTotal" disabled="disabled"/>
                    </div>
                </div>
            </div>
            <!-- End Miscellaneous -->

        </div>


{#     <script type='text/javascript' src="{{ STATIC_URL }}budget.js"></script>#}


     {% if submit_type %}
        <div class="row">
            <input type="submit" class="pull-right btn btn-primary navbar-btn btn-lg" value="{{ submit_type }}" />
        </div>
     {% endif %}
     </form>

<script>
function budgetViewModel() {
    //Total Section
    this.foodAndShelterTotal = ko.pureComputed(function() {
        return parseFloat(this.foodTotal()) + parseFloat(this.shelterTotal());
    }, this);
    this.bunchTotal = ko.pureComputed(function() {
        return parseFloat(this.commTotal()) + parseFloat(this.travelTotal()) + parseFloat(this.adminTotal()) +
            parseFloat(this.medicalTotal());
    }, this);
    this.stationTotal = ko.pureComputed(function() {
        return parseFloat(this.foodAndShelterTotal()) + parseFloat(this.bunchTotal()) +
            parseFloat(this.awarenessTotal()) + parseFloat(this.suppliesTotal());
    }, this);

    //Misc Section
    this.miscNumberOfIntercepts = ko.observable({{ form.instance.miscellaneous_number_of_intercepts_last_month }});
    this.miscNumberOfInterceptsMult = ko.observable({{ form.instance.miscellaneous_number_of_intercepts_last_month_multiplier }});
    this.miscMaximum = ko.computed(function() {
        return parseFloat(this.miscNumberOfIntercepts()) * parseFloat(this.miscNumberOfInterceptsMult());
    }, this);
    this.miscTotal = ko.computed(function() {
        return parseFloat(this.miscMaximum());
    }, this);

    //Medical Section
    this.medicalExpense = ko.observable({{ form.instance.medical_last_months_expense }});
    this.medicalTotal = ko.computed(function() {
        return parseFloat(this.medicalExpense());
    }, this);

    //Administration Section
    this.adminNumberOfInterceptionsLastMonth = ko.observable(0);
    this.adminNumberOfInterceptionsLastMonthMultiplier = ko.observable(20);
    this.adminNumberOfInterceptionsLastMonthAdder = ko.observable(1000);
    this.adminNumberOfMeetingsPerMonth = ko.observable(0);
    this.adminNumberOfMeetingsPerMonthMultiplier = ko.observable(600);
    this.adminBoothBool = ko.observable(false);
    this.adminBoothAmount = ko.observable(30000);
    this.adminRegistrationBool = ko.observable(false);
    this.adminRegistrationAmount = ko.observable(2000);
    this.adminStationaryTotal = ko.computed(function() {
        return (parseFloat(this.adminNumberOfInterceptionsLastMonth()) * parseFloat(this.adminNumberOfInterceptionsLastMonthMultiplier())) + parseFloat(this.adminNumberOfInterceptionsLastMonthAdder());
    }, this);
    this.adminMeetingsTotal = ko.computed(function() {
        return parseFloat(this.adminNumberOfMeetingsPerMonth()) * parseFloat(this.adminNumberOfMeetingsPerMonthMultiplier());
    }, this);
    this.adminBoothRentalTotal = ko.computed(function() {
        var amount = 0;
        if(this.adminBoothBool()) {
            amount += parseFloat(this.adminBoothAmount());
        }
        if(this.adminRegistrationBool()) {
            amount += parseFloat(this.adminRegistrationAmount());
        }
        return amount;
    }, this);
    this.adminTotal = ko.computed(function() {
        return parseFloat(this.adminStationaryTotal()) + parseFloat(this.adminMeetingsTotal()) + parseFloat(this.adminBoothRentalTotal());
    }, this);

    //Travel Section
    this.travelChairWithBikeBool = ko.observable(false);
    this.travelChairWithBikeAmount = ko.observable(2000);
    this.travelManagerWithBikeBool = ko.observable(false);
    this.travelManagerWithBikeAmount = ko.observable(2000);
    this.travelNumberOfStaffUsingBikes = ko.observable(0);
    this.travelNumberOfStaffUsingBikesMultiplier = ko.observable(1000);
    this.travelSendingGirlsHomeExpense = ko.observable(0);
    this.travelMotorbikeBool = ko.observable(false);
    this.travelMotorbikeAmount = ko.observable(60000);
    this.travelOther = ko.observable(0);
    this.travelNumberOfStaffUsingBikesTotal = ko.computed(function() {
        return parseFloat(this.travelNumberOfStaffUsingBikes()) * parseFloat(this.travelNumberOfStaffUsingBikesMultiplier());
    }, this);
    this.travelTotal = ko.computed(function() {
        var amount = 0;
        if(this.travelChairWithBikeBool()) {
            amount += parseFloat(this.travelChairWithBikeAmount());
        }
        if(this.travelManagerWithBikeBool()) {
            amount += parseFloat(this.travelManagerWithBikeAmount());
        }
        if(this.travelMotorbikeBool()) {
            amount += parseFloat(this.travelMotorbikeAmount());
        }
        return amount + parseFloat(this.travelOther()) + parseFloat(this.travelSendingGirlsHomeExpense()) +
            (parseFloat(this.travelNumberOfStaffUsingBikes()) * parseFloat(this.travelNumberOfStaffUsingBikesMultiplier()));

    }, this);

    //Supplies Section
    this.suppliesWalkieTalkiesBool = ko.observable(false);
    this.suppliesWalkieTalkiesAmount = ko.observable(0);
    this.suppliesRecordersBool = ko.observable(false);
    this.suppliesRecordersAmount = ko.observable(0);
    this.suppliesBinocularsBool = ko.observable(false);
    this.suppliesBinocularsAmount = ko.observable(0);
    this.suppliesFlashlightsBool = ko.observable(false);
    this.suppliesFlashlightsAmount = ko.observable(0);
    this.suppliesTotal = ko.computed(function() {
        var amount = 0;
        if(this.suppliesWalkieTalkiesBool()) {
            amount += parseFloat(this.suppliesWalkieTalkiesAmount());
        }
        if(this.suppliesRecordersBool()) {
            amount += parseFloat(this.suppliesRecordersAmount());
        }
        if(this.suppliesBinocularsBool()) {
            amount += parseFloat(this.suppliesBinocularsAmount());
        }
        if(this.suppliesFlashlightsBool()) {
            amount += parseFloat(this.suppliesFlashlightsAmount());
        }
        return amount;
    }, this);

    //Awareness Section
    this.awarenessContactCardsBool = ko.observable(false);
    this.awarenessContactCardsAmount = ko.observable(4000);
    this.awarenessAwarenessPartyBool = ko.observable(false);
    this.awarenessAwarenessPartyAmount = ko.observable(0);
    this.awarenessSignBoardsBool = ko.observable(false);
    this.awarenessSignBoardsAmount = ko.observable(0);
    this.awarenessTotal = ko.computed(function() {
        var amount = 0;
        if(this.awarenessContactCardsBool()) {
            amount += parseFloat(this.awarenessContactCardsAmount());
        }
        if(this.awarenessAwarenessPartyBool()) {
            amount += parseFloat(this.awarenessAwarenessPartyAmount());
        }
        if(this.awarenessSignBoardsBool()) {
            amount += parseFloat(this.awarenessSignBoardsAmount());
        }
        return amount;
    }, this);

    //Shelter Section
    this.firstName = "TOTAL";
    this.shelterRent = ko.observable(0);
    this.shelterWater = ko.observable(0);
    this.shelterElectricity = ko.observable(0);
    this.utilTotal = ko.pureComputed(function() {
        return parseFloat(this.shelterRent()) + parseFloat(this.shelterElectricity()) + parseFloat(this.shelterWater());
    }, this);
    this.shelterCheckboxTotal = ko.pureComputed(function () {
        var totalAmount = 0;
        if (this.shelterStartupBool()) {
            totalAmount += parseFloat(this.shelterStartupAmount());
        }
        if (this.shelterTwoBool()) {
            totalAmount += parseFloat(this.shelterTwoAmount());
        }
        return totalAmount;
    }, this);
    this.shelterTotal = ko.pureComputed(function () {
        return parseFloat(this.shelterRent()) + parseFloat(this.shelterWater()) + parseFloat(this.shelterElectricity()) + parseFloat(this.shelterCheckboxTotal());
    }, this);
    this.shelterStartupBool = ko.observable(false);
    this.shelterStartupAmount = ko.observable(71800);
    this.shelterTwoBool = ko.observable(false);
    this.shelterTwoAmount = ko.observable(36800);

    //Food and Gas Section
    this.foodGasNumberOfGirls = ko.observable(0);
    this.foodGasMultiplierBefore = ko.observable(100);
    this.foodGasMultiplierAfter = ko.observable(3);
    this.limboNumberOfGirls = ko.observable(0);
    this.limboMultiplier = ko.observable(100);
    this.limboNumberOfDays = ko.observable(1);
    this.foodGasInterceptedGirls = ko.pureComputed(function () {
        return parseFloat(this.foodGasMultiplierBefore()) * parseFloat(this.foodGasNumberOfGirls()) * parseFloat(this.foodGasMultiplierAfter());
    }, this);
    this.foodGasLimboGirls = ko.pureComputed(function () {
        return parseFloat(this.limboMultiplier()) * parseFloat(this.limboNumberOfGirls()) * parseFloat(this.limboNumberOfDays());
    }, this);
    this.foodTotal = ko.computed(function () {
        return parseFloat(this.foodGasInterceptedGirls()) + parseFloat(this.foodGasLimboGirls());
    }, this);

    //Communication section
    this.commChairBool = ko.observable(false);
    this.commChairAmount = ko.observable(1000);
    this.commManagerBool = ko.observable(false);
    this.commManagerAmount = ko.observable(1000);
    this.commNumberOfStaffWt = ko.observable(0);
    this.commNumberOfStaffWtMultiplier = ko.observable(100);
    this.commEachStaffWt = ko.observable(0);
    this.commEachStaffWtMultiplier = ko.observable(300);
    this.commManagerTotal = ko.computed(function () {
        var amount = 0;

        if (this.commChairBool()) {
            amount += parseFloat(this.commChairAmount());
        }
        if (this.commManagerBool()) {
            amount += parseFloat(this.commChairAmount());
        }
        return amount;
    }, this);

    this.commNumberOfStaffTotal = ko.computed(function () {
        return parseFloat(this.commNumberOfStaffWt()) * parseFloat(this.commNumberOfStaffWtMultiplier());
    }, this);

    this.commEachStaffTotal = ko.computed(function () {
        return parseFloat(this.commEachStaffWt()) * parseFloat(this.commEachStaffWtMultiplier());
    }, this);

    this.commTotal = ko.computed(function () {
        return parseFloat(this.commManagerTotal()) + parseFloat(this.commNumberOfStaffTotal()) + parseFloat(this.commEachStaffTotal());
    }, this);
}

ko.applyBindings(new budgetViewModel());
</script>


    {% endblock %}
{% endblock %}