{% extends 'base.html' %}

{% block html %}
   <html ng-app="BudgetCalculation">
{% endblock %}

{% block title %}Money Distribution PDF{% endblock %}

{% block tab_block %}
    {% block content %}
        <div class="row">
            <iframe class="col-lg-7" style="height: 900px; border: hidden" id="money_distribution_form_iframe" src="{% url "money_distribution_pdf" pk=5 %}"></iframe>
            <div class="col-lg-4 col-lg-offset-1">
                <h2>E-mail Recipients</h2>
            </div>
        </div>

        <script type="text/javascript" src="{{ STATIC_URL }}budgetModule.js"></script>
    {% endblock %}
{% endblock %}
