{% extends "accounts/account_base.html" %}
{% load bootstrap %}

{% block title %}Access Control{% endblock %}

{% block body_class %}access_control{% endblock %}

{% block head %}
<style>
input[type="checkbox"] {
    display: none;
}
label {
    width: 100% !important;
}
td {
}
td:first-child {
}
table {
}
table, th, td {
    border: 2px solid #ddd;
}
th, td {
    text-align: center;
}
</style>
{% endblock %}
{% block foot %}
<script>
window.defaultPermissionSets = JSON.parse('{{ default_permissions_sets|safe }}');
</script>
{% endblock %}


{% block content %}
<h1>Access Control</h1>


{% verbatim %}
<div class="container" ng-controller="AccountsCtrl as accountsCtrl">
    <form method="POST" class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="4">Interception Record Forms</th>
                    <th colspan="4">Victim Interview Forms</th>
                    <th colspan="4">Border Stations</th>
                    <th>Accounts</th>
                    <th>Alerts</th>
                    <th>VDC</th>
                    <th>Budget</th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>View</th> <!--IRF-->
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th> <!--VIF-->
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th> <!--Border Stations-->
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Manage</th> <!--Accounts-->
                    <th>Can Receive</th> <!--Alerts-->
                    <th>Manage</th> <!--VDC-->
                    <th>Manage</th> <!--Budget-->
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="permission in accountsCtrl.accounts.results">
                        <td>
                          {{ permission.first_name+" "+permission.last_name }}<br/>
                          <select  ng-model="permission.user_designation" ng-options="p.id as p.name for p in accountsCtrl.permissions.results">
                          </select>
                        </td>
                        <td><label ng-click="permission.permission_irf_view = !permission.permission_irf_view" ng-class="permission.permission_irf_view ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_irf_view ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_irf_add = !permission.permission_irf_add" ng-class="permission.permission_irf_add ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_irf_add ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_irf_edit = !permission.permission_irf_edit" ng-class="permission.permission_irf_edit ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_irf_edit ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_irf_delete = !permission.permission_irf_delete" ng-class="permission.permission_irf_delete ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_irf_delete ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_vif_view = !permission.permission_vif_view" ng-class="permission.permission_vif_view ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_vif_view ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_vif_add = !permission.permission_vif_add" ng-class="permission.permission_vif_add ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_vif_add ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_vif_edit = !permission.permission_vif_edit" ng-class="permission.permission_vif_edit ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_vif_edit ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_vif_delete = !permission.permission_vif_delete" ng-class="permission.permission_vif_delete ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_vif_delete ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_border_stations_view = !permission.permission_border_stations_view" ng-class="permission.permission_border_stations_view ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_border_stations_view ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_border_stations_add = !permission.permission_border_stations_add" ng-class="permission.permission_border_stations_add ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_border_stations_add ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_border_stations_edit = !permission.permission_border_stations_edit" ng-class="permission.permission_border_stations_edit ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_border_stations_edit ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_border_stations_delete = !permission.permission_border_stations_delete" ng-class="permission.permission_border_stations_delete ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_border_stations_delete ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_accounts_manage = !permission.permission_accounts_manage" ng-class="permission.permission_accounts_manage ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_accounts_manage ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_receive_email = !permission.permission_receive_email" ng-class="permission.permission_receive_email ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_receive_email ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_vdc_manage = !permission.permission_vdc_manage" ng-class="permission.permission_vdc_manage ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_vdc_manage ? "Yes" : "No" }}</label></td>
                        <td><label ng-click="permission.permission_budget_manage = !permission.permission_budget_manage" ng-class="permission.permission_budget_manage ? 'btn btn-success' : 'btn btn-danger'"><span class="yesno"></span>{{ permission.permission_budget_manage ? "Yes" : "No" }}</label></td>



                    </tr>
            </tbody>
        </table>
        <!--update doesnt working-->
        <button class="clear btn btn-primary btn-lg" ng-click="accountsCtrl.update()">Update<button/>
    </form>
</div>

{% endverbatim %}

{% endblock %}
