{% extends "accounts/account_base.html" %}
{% load bootstrap %}

{% block title %}Access Control{% endblock %}

{% block body_class %}access_control{% endblock %}

{% block head %}
<style>
input[type="checkbox"] {
    display: none;
}
label {
    width: 100% !important;
}
td {
}
td:first-child {
}
table {
}
table, th, td {
    border: 2px solid #ddd;
}
th, td {
    text-align: center;
}
</style>
{% endblock %}
{% block foot %}
<script>
window.defaultPermissionSets = JSON.parse('{{ default_permissions_sets|safe }}');
</script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Access Control</h1>
    <form method="POST" class="row">{% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="3">Interception Record Forms</th>
                    <th colspan="3">Victim Interview Forms</th>
                    <th colspan="3">Border Stations</th>
                    <th>Accounts</th>
                    <th>Alerts</th>
                    <th>VDC</th>
                    <th>Budget</th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Manage</th>
                    <th>Can Receive</th>
                    <th>Manage</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                {% for form in formset %}
{{ form.errors }}
                    <tr>
                        <td>
                            {{ form.id }}
                            {{ form.instance.get_full_name }}<br/>
                            {{ form.user_designation }}
                        </td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_irf_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_irf_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_irf_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_vif_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_vif_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_vif_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_border_stations_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_border_stations_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_border_stations_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_accounts_manage }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_receive_email }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_vdc_manage }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ form.permission_budget_manage }}</label></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="clear btn btn-primary btn-lg" value="Update" />
    </form>
</div>
{% endblock %}
