{% extends "accounts/account_base.html" %}
{% load bootstrap %}

{% block title %}Access Control{% endblock %}

{% block body_class %}access_control{% endblock %}

{% block head %}
<style>
input[type="checkbox"] {
    display: none;
}
label {
    width: 100% !important;
}
td {
}
td:first-child {
}
table {
}
table, th, td {
    border: 2px solid #ddd;
}
th, td {
    text-align: center;
}
</style>
{% endblock %}
{% block foot %}
<script>
window.defaultPermissionSets = JSON.parse('{{ default_permissions_sets|safe }}');
</script>
{% endblock %}


{% block content %}
<h1>Access Control</h1>


{% verbatim %}
<div class="container" ng-controller="AccountsCtrl as accountsCtrl"><p>{{accountsCtrl.foo}}</p>
    <form method="POST" class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th colspan="4">Interception Record Forms</th>
                    <th colspan="4">Victim Interview Forms</th>
                    <th colspan="4">Border Stations</th>
                    <th>Accounts</th>
                    <th>Alerts</th>
                    <th>VDC</th>
                    <th>Budget</th>
                </tr>
                <tr>
                    <th>User</th>
                    <th>View</th> <!--IRF-->
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th> <!--VIF-->
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th> <!--Border Stations-->
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Manage</th> <!--Accounts-->
                    <th>Can Receive</th> <!--Alerts-->
                    <th>Manage</th> <!--VDC-->
                    <th>Manage</th> <!--Budget-->
                </tr>
            </thead>
            <tbody>
                    <tr ng-repeat="permission in accountsCtrl.permissions">
                        <td>
                            {{ permission.full_name }}<br/>
                            {{ permission.user_designation }}
                        </td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.irf_vew }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.irf_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.irf_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.irf_delete }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.vif_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.vif_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.vif_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.vif_delete }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.border_stations_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.border_stations_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.border_stations_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.border_stations_delete }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.accounts_manage }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.receive_email }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.vdc_manage }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.budget_manage }}</label></td>
                    </tr>
            </tbody>
        </table>
        <input type="submit" class="clear btn btn-primary btn-lg" value="Update" />
    </form>
</div>

{% endverbatim %}

{% endblock %}
