{% extends "accounts/account_base.html" %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %}Access Defaults{% endblock %}

{% block body_class %}access_defaults{% endblock %}

{% block head %}
<style>
input[type="checkbox"] {
    display: none;
}
.form-group {
    margin-bottom: 0 !important;
}
label {
    width: 100% !important;
}
td {
}
td:first-child {
}
table {
}
table, th, td {
    border: 2px solid #ddd;
}
th, td {
    text-align: center;
}
</style>
{% endblock %}

{% block content %}
    <h1>Access Defaults</h1>

{% verbatim %}
    <div class="container" ng-controller="AccountsCtrl as accountsCtrl">
    <p>Use this form to designate default access for each type of user.<br/>For instance: what default permissions ought to be given to a new user designated as &quot;Field Staff?&quot;</p>

    <form id="permissions-form" method="POST" class="row">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th colspan="4">Interception Record Forms</th>
                    <th colspan="4">Victim Interview Forms</th>
                    <th colspan="4">Border Stations</th>
                    <th>Accounts</th>
                    <th>VDC</th>
                    <th>Budget</th>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                    <th>Designation</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>View</th>
                    <th>Add</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Manage</th>
                    <th>Manage</th>
                    <th>Manage</th>
                </tr>
            </thead>

            <tbody id="permissions-rows-container">
                    <tr ng-repeat="permission in accountsCtrl.permissions.results">
                        <td style="width: 25px">
                                    <form method="POST" class="permissions-delete-form" action="{% url 'access_defaults_delete' form.instance.pk %}">
                                        <input type="submit" class="btn btn-danger btn-xs" value="X" />
                                    </form>
<!--                                    <button type="button" class="in-use-button btn btn-default btn-xs" data-toggle="tooltip" title="This designation is used by one or more accounts and cannot be deleted.">X</button>
-->                        </td>
                        <td>{{ permission.id }}{{ permission.name }}</td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_delete }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_delete }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_view }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_add }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_edit }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_delete }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_accounts_manage }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vdc_manage }}</label></td>
                        <td><label class="btn"><span class="yesno"></span>{{ permission.permission_budget_manage }}</label></td>
                    </tr>
            </tbody>
        </table>
        <button type="button" id="add-another" class="clear btn btn-primary btn-lg pull-left">Add Another</button>
        <input type="submit" class="clear btn btn-success btn-lg pull-right" value="Save All" />

<!--if form empty
        <table style="display:none">
            <tbody id="empty-form">
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ permission.id }}{{ permission.name|add_class:"form-control" }}</td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_view }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_add }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_edit }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_irf_delete }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_view }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_add }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_edit }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vif_delete }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_view }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_add }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_edit }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_border_stations_delete }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_accounts_manage }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_vdc_manage }}</label></td>
                    <td><label class="btn"><span class="yesno"></span>{{ permission.permission_budget_manage }}</label></td>
                </tr>
            </tbody>
        </table>
-->    </form>
</div>

{% endverbatim %}

{% endblock %}
