{% extends "accounts/account_base.html" %}
{% load bootstrap %}

{% block title %}Edit Account {% endblock %}

{% block head %}
<style>
input[type="checkbox"] {
    display: none;
}
label {
    width: 100% !important;
}
table {
}
table, th, td {
    border: 2px solid #ddd;
}
th, td {
    text-align: center;
}
td {
    width: 75px !important;
}
table {
    width: 250px !important;
}
</style>
{% endblock %}
{% block foot %}
<script>
window.defaultPermissionSets = JSON.parse('{{ default_permissions_sets|safe }}');
</script>
{% endblock %}

{% block content %}
{% verbatim %}
<div class="container" ng-controller="EditAccountCtrl as editCtrl">
  <h1>Edit Account {{editCtrl.foo}}</h1>
  <div class="row">
    <div class="col-md-6 form-group">
      <label >Email</label>
      <input type="text" class="form-control" placeholder="Email" ng-model="editCtrl.account.email" />
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label >First Name</label>
      <input type="text" class="form-control" placeholder="First Name" ng-model="editCtrl.account.first_name" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label >Last Name</label>
      <input type="text" class="form-control" placeholder="Last Name" ng-model="editCtrl.account.last_name" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label >User Designation</label>
      <select ng-model="editCtrl.account.user_designation">
        <option ng-repeat="set in editCtrl.permissionsSets.results" value="{{set.id}}"> {{set.name}}</option>
      </select>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}
