{% extends "base.html" %}

{% block html %}<html ng-app="AccountsMod">{% endblock %}

{% block tab_block %}
    <ul class="nav nav-tabs">
        {% url 'account_list' as account_list_url %}
        <li{% if request.path == account_list_url %} class="active"{% endif %}><a href="{{ account_list_url }}">Accounts</a></li>

        {% url 'access_control' as access_control_url %}
        <li{% if request.path == access_control_url %} class="active"{% endif %}><a href="{{ access_control_url }}">Access Control</a></li>

        {% url 'access_defaults' as access_defaults_url %}
        <li{% if request.path == access_defaults_url %} class="active"{% endif %}><a href="{{ access_defaults_url }}">Access Defaults</a></li>
    </ul>
    {% block content %}
    {% endblock %}

    {% load static from staticfiles %}
    <script src="{% static "accounts/js/accounts.module.js" %}"></script>
    <script src="{% static "accounts/js/services/accounts.service.js" %}"></script>
    <script src="{% static "accounts/js/services/permissionsSets.service.js" %}"></script>
    <script src="{% static "accounts/js/controllers/accountsCtrl.js" %}"></script>
    <script src="{% static "accounts/js/controllers/editAccountCtrl.js" %}"></script>
    <script src="{% static "accounts/js/controllers/modalCtrl.js" %}"></script>
    <script src="{% static "accounts/js/controllers/accessCtrl.js" %}"></script>   
    <script src="{% static "accounts/js/controllers/accessDefaultsCtrl.js" %}"></script>         
{% endblock %}
