{% extends "base.html" %}

{% block tab_block %}
    <ul class="nav nav-tabs">
        {% url 'account_list' as account_list_url %}
        <li{% if request.path == account_list_url %} class="active"{% endif %}><a href="{{ account_list_url }}">Accounts</a></li>

        {% url 'access_control' as access_control_url %}
        <li{% if request.path == access_control_url %} class="active"{% endif %}><a href="{{ access_control_url }}">Access Control</a></li>

        {% url 'access_defaults' as access_defaults_url %}
        <li{% if request.path == access_defaults_url %} class="active"{% endif %}><a href="{{ access_defaults_url }}">Access Defaults</a></li>
    </ul>
    {% block content %}
    {% endblock %}
{% endblock %}
