{% extends "dataentry/dataentry_base.html" %}
{% block title %}No Photos to Export{% endblock %}
{% block html %}<html ng-app="DataEntry">{% endblock %}
{% block content %}&nbsp;

<a href="../../../data-entry/irfs" style="text-decoration: none;">
    <div class="alert alert-danger">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      There are no photos within that date range. Click here to go back to the IRFs page.
    </div>
</a>

{% endblock %}