{% extends "dataentry/dataentry_base.html" %}
{% block html %}<html ng-app="DataEntry" ng-cloak>{% endblock %}

{% block title %}All IRFs{% endblock %}

{% block content %}

    <script type="text/javascript">
        window.station_code = "{{ station_code }}";
        window.search = {{ search }};
    </script>

{% verbatim %}
<div ng-controller="irfListCtrl as vm" ng-show="vm.user.permission_irf_view">
    <div class="row" style="margin: 20px 0 20px 0;">
        <div class="col-xs-5">
            <h1 style="margin:0;" ng-bind="vm.header"></h1>
        </div>
        <div class="pull-right" style="margin-top:8px;">
            <a class="btn btn-primary" id="export" href="/data-entry/irfs/export/" download>
                Export as CSV
            </a>
            <a ng-show="vm.user.permission_irf_add" id="id_input_new_irf" class="btn btn-success" style="margin-left:5px;" href="/data-entry/irfs/create/">
                Input A New IRF
            </a>
            <button id="id_export_photos" class="btn btn-success pull-right" data-toggle="modal" data-target="#exportPhotoModal" style="margin-left:10px;" href="#">
                Export Photos...
            </button>
              <!-- Modal -->
              <div class="modal fade" id="exportPhotoModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Export Photos</h4>
                    </div>
                    <div class="modal-body">
                        Start Date: <input type="text" ng-model="vm.startDate" ng-change="vm.validDate()"><br>
                        End Date: <input type="text" ng-model="vm.endDate" ng-change="vm.validDate()"><br>
                    </div>
                    <div class="modal-footer">
                      <button ng-click="vm.exportPhotos()" ng-disabled="vm.valid_date == false" type="button" class="btn btn-success" data-dismiss="modal">Submit</button>
                    </div>
                  </div>

                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-xs-3">
            <select ng-model="vm.paginateBy" ng-change="vm.listIrfs()" class="form-control">
                <option>25</option>
                <option>50</option>
                <option>100</option>
                <option>500</option>
            </select>
        </div>
        <div class="col-sm-3 col-xs-1">
            <p style="margin-top: 8px;">Results <span class="hidden-xs">per page</span></p>
        </div>

        <div class="col-md-3 search-bar pull-right">
            <form ng-submit="vm.searchIrfs()">
                  <label>
                      <input placeholder="by IRF number..." ng-model="vm.searchValue" class="form-control">
                  </label>
                  <button class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <!--{{ vm.irfs }}-->
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th ng-click="vm.sortColumn = 'irf_number'; vm.reverse = ! vm.reverse; vm.listIrfs()" id='irf_number'>
                    IRF # <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('letter', 'irf_number')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'staff_name'; vm.reverse = ! vm.reverse; vm.listIrfs()" id='staff_name'>
                    Staff Name <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('letter', 'staff_name')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'number_of_victims'; vm.reverse = ! vm.reverse; vm.listIrfs()" id='number_of_victims'>
                    # of victims <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'number_of_victims')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'number_of_traffickers'; vm.reverse = ! vm.reverse; vm.listIrfs()" id='number_of_traffickers'>
                    # of traffickers <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'number_of_traffickers')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'date_time_of_interception'; vm.reverse = ! vm.reverse; vm.listIrfs()" id='date_time_of_interception'>
                    Time of Interception <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'date_time_of_interception')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'date_time_entered_into_system'; vm.reverse = ! vm.reverse; vm.listIrfs()" class="hidden-xs" id='date_time_entered_into_system'>
                    Time Entered Into System <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'date_time_entered_into_system')"></i>
                </th>
                <th ng-click="vm.sortColumn = 'date_time_last_updated'; vm.reverse = ! vm.reverse; vm.listIrfs()" class="hidden-xs" id='date_time_last_updated'>
                    Time Last Edited <i class="glyphicon" style="width:10px;" ng-class="vm.sortIcon('number', 'date_time_last_updated')"></i>
                </th>
                <th ng-show="vm.user.permission_irf_view">&nbsp;</th>
                <th ng-show="vm.user.permission_irf_edit">&nbsp;</th>
                <th ng-show="vm.user.permission_irf_delete">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="irf in vm.irfs">
                <td class="irf-number">{{ irf.irf_number }}</td>
                <td>{{ irf.staff_name }}</td>
                <td>{{ irf.number_of_victims }}</td>
                <td>{{ irf.number_of_traffickers }}</td>
                <td>{{ irf.date_time_of_interception | date:"medium" : vm.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ irf.date_time_entered_into_system | date:"medium" : vm.timeZoneDifference }}</td>
                <td class="hidden-xs">{{ irf.date_time_last_updated | date:"medium" : vm.timeZoneDifference}}</td>
                <td ng-show="vm.user.permission_irf_view"><a class="btn btn-sm btn-primary viewButton" href="{{ irf.view_url }}">View</a></td>
                <td ng-show="vm.user.permission_irf_edit"><a class="btn btn-sm btn-primary editButton" href="{{ irf.edit_url }}">Edit</a></td>
                <td ng-show="vm.user.permission_irf_delete"><a class="btn btn-sm btn-danger deleteButton" ng-click="vm.deleteIrf(irf)" >{{ irf.confirmedDelete ? "Confirm" : "Delete"}}</a></td>
            </tr>
        </tbody>
    </table>
    <div class="row text-center">
        <button ng-disabled="!vm.nextPageUrl" ng-click="vm.loadMoreIrfs()" class="btn btn-primary" id="loadMoreButton" style="margin-bottom:25px; width:90%;">Load more results</button>
    </div>

    <!-- Loading animation container -->
    <div ng-show="vm.loading" class="loader-container">
        <div class="loader">Loading...</div>
    </div>

{% endverbatim %}
{% load static from staticfiles %}

    <script src="{% static "dataentry/js/dataEntry.module.js" %}"></script>
    <script src="{% static "dataentry/js/services/irfService.js" %}"></script>
    <script src="{% static "dataentry/js/controllers/irfListCtrl.js" %}"></script>
</div>

{% endblock %}
