<script type="text/html" id="geocode-address1-form">
  <h3 id="loading" style="display: none">Loading...</h3>
  <div id="popover-location-info"></div>
    <a id="address1_create_page"
       class="btn btn-success pull-left"
       style="margin-bottom:10px"
       href="{% url 'address1_create_page' %}"
       data-target="#modal">Create New Address 1</a>
</script>

<script type="text/html" id="geocode-address2-form">
  <h3 id="loading" style="display: none">Loading...</h3>
  <div id="popover-location-info"></div>
  <a id="address2_create_page"
     class="btn btn-success pull-left"
     style="margin-bottom:10px"
     href="{% url 'address2_create_page' %}"
     data-target="#modal">Create New Address 2</a>
</script>
