{% extends "dataentry/dataentry_base.html" %}
{% block html %}
    <html ng-app="SysAdminSettings">
{% endblock %}

{% block title %}System Administrator Settings{% endblock %}

{% block tab_block %}
    {% block content %}
        <!-- <h1 class="text-center">System Administrator Settings</h1>
        <br/>

        <div class="col-lg-16" style="height: 675px">
            <div class="row">
                <h2 class="text-left col-lg-8">Fuzzy Matching</h2>
            </div>
            <div class="row">
                <div class="col-lg-4" >
                    <h3 class="text-left col-lg-8">Phone Number</h3>
                </div>
                <div class="col-lg-4" >
                    <h3 class="text-left col-lg-8">Name</h3>
                </div>
                <div class="col-lg-4" >
                    <h3 class="text-left col-lg-8">Location (Address 1 and 2)</h3>
                </div>
            </div>
        </div> -->
        <div ng-controller="sysAdminCtrl as admin">
            <div class="col-lg-2 calc-form-input-no-width">
                <input class="text-right form-control" type="number" id="location_value" ng-model="admin.location_value"/>
                <small>{{admin.location_value}}</small>
            </div>
            <!-- <div class="col-lg-3 input-group">
                <input class="form-control text-center" ng-value="admin.location_value" disabled="disabled"/>
            </div> -->

        </div>
    {% endblock %}
{% endblock %}
