{% extends 'base.html' %}

{% block html %}
    <html ng-app="System Admin Settings">
{% endblock %}

{% block title %}System Admin Settings{% endblock %}

{% block tab_block %}
    {% block content %}
        {% block angular %}{% endblock %}
        <h1 class="text-center">System Admin Settings</h1>
        <div class="col-lg-6 form-group" style="height: 675px">
            <div class="row">
                <h2 class="background"><span>Fuzzy Matching Settings</span></h2>
            </div>
            <div class="row center-block">
                    <!-- Locations -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1 input-with-text calc-form-input-no-width col-lg-offset-3" >
                        <input type="checkbox" name="UseFuzzValue" value="U">
                    </div>
                    <div class="col-lg-3 input-with-text calc-form-input-no-width" >
                        <p><big>Locations</big></p>
                    </div>
                    <div class="col-lg-2 input-with-text calc-form-input-no-width" >
                        <input class="text-right form-control" type="number">
                    </div>
                    <br>
                    <br>
                    <!-- District -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1 input-with-text calc-form-input-no-width col-lg-offset-3" >
                        <input type="checkbox" name="UseFuzzValue" value="U">
                    </div>
                    <div class="col-lg-3 input-with-text calc-form-input-no-width" >
                        <p><big>District</big></p>
                    </div>
                    <div class="col-lg-2 input-with-text calc-form-input-no-width" >
                        <input class="text-right form-control" type="number">
                    </div>
                    <br>
                    <br>
                    <!-- Trafficker -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1 input-with-text calc-form-input-no-width" >
                        <input type="checkbox" name="UseFuzzValue" value="U">
                    </div>
                    <div class="col-lg-3 input-with-text calc-form-input-no-width" >
                        <p><big>Trafficker</big></p>
                    </div>
                    <div class="col-lg-2 input-with-text calc-form-input-no-width" >
                        <input class="text-right form-control" type="number">
                    </div>
                    <br>
                    <br>
                    <!-- Interceptee -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1 input-with-text calc-form-input-no-width" >
                        <input type="checkbox" name="UseFuzzValue" value="U">
                    </div>
                    <div class="col-lg-3 input-with-text calc-form-input-no-width" >
                        <p><big>Interceptee</big></p>
                    </div>
                    <div class="col-lg-2 input-with-text calc-form-input-no-width" >
                        <input class="text-right form-control" type="number">
                    </div>
                    <br>
                    <br>
                    <!-- Phone Number -->
                    <div class="col-lg-3"></div>
                    <div class="col-lg-1 input-with-text calc-form-input-no-width" >
                        <input type="checkbox" name="UseFuzzValue" value="U">
                    </div>
                    <div class="col-lg-3 input-with-text calc-form-input-no-width" >
                        <p><big>Phone Number</big></p>
                    </div>
                    <div class="col-lg-2 input-with-text calc-form-input-no-width" >
                        <input class="text-right form-control" type="number">
                    </div>
                    <br>
                    <br>
            </div>
        </div>

    {% endblock %}
{% endblock %}
