{% extends 'base.html' %}

{% block html %}
    <html ng-app="System Admin Settings">
{% endblock %}

{% block title %}System Admin Settings{% endblock %}

{% block tab_block %}
    {% block content %}
        {% block angular %}{% endblock %}
        <div>
                <h1 class="text-center">System Admin Settings</h1>
                <div class="col-lg-6 " style="height: 675px">
                    <div class="row">
                        <h2 class="background"><span>Fuzzy Matching Settings</span></h2>
                    </div>
                    <div class="row ">
                        <!-- Locations -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 " >
                            <input type="checkbox" name="UseFuzzValue" value="U">
                            <label>Locations</label>
                        </div>
                        <div class="col-lg-3 " >
                            <input class="text-right form-control" type="number">
                            <small> Default = 0 </small>
                        </div>
                        <br>
                        <br>
                        <br>
                        <!-- District -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 " >
                            <input type="checkbox" name="UseFuzzValue" value="U">
                            <label>District</label>
                        </div>
                        <div class="col-lg-3 " >
                            <input class="text-right form-control" type="number">
                            <small>Default = 70</small>
                        </div>
                        <br>
                        <br>
                        <br>
                        <!-- Trafficker -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 " >
                            <input type="checkbox" name="UseFuzzValue" value="U">
                            <label>Trafficker</label>
                        </div>
                        <div class="col-lg-3 " >
                            <input class="text-right form-control" type="number">
                            <small> Default = 90 </small>
                        </div>
                        <br>
                        <br>
                        <br>
                        <!-- Interceptee -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 " >
                            <input type="checkbox" name="UseFuzzValue" value="U">
                            <label>Interceptee</label>
                        </div>
                        <div class="col-lg-3 " >
                            <input class="text-right form-control" type="number">
                            <small> Default = 0 </small>
                        </div>
                        <br>
                        <br>
                        <br>
                        <!-- Phone Number -->
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5 " >
                            <input type="checkbox" name="UseFuzzValue" value="U">
                            <label>Phone Number</label>
                        </div>
                        <div class="col-lg-3" >
                            <input class="text-right form-control" type="number">
                            <small > Default = 0 </small>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
            </div>
        <input type="button" ng-show="" id="" class="pull-right btn btn-success navbar-btn btn-lg" value="Update" ng-click="">
        </div>


    {% endblock %}
{% endblock %}
