@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap');

:root {
  --color-primary: #EA274C;
  --color-secondary: #7FC3E1;
  --color-text: #FFFFFF;
  --color-text-dark: #292A2E;
  --color-background-dark: #0F1116;
  --color-background-grey: #292A2E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--color-text);
  background-color: var(--color-background-grey);
}

header {
  background-color: var(--color-primary);
  color: var(--color-text);
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1em;
  margin-left: 25vw;
}

fieldset {
  padding: 1rem;
}

input {
  margin: 0.4rem;
}

.btn {
  color: var(--color-text-dark);
  background-color: var(--color-text);
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  cursor: pointers;
  margin: 0.25rem;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 25vw;
  background-color: var(--color-background-dark);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar .filter {
  display: flex;
  flex-direction: column;
  padding: 16px;
}
