{% extends "base.html" %}

{% block tab_block %}
  <ul class="nav nav-tabs">
    {% url 'interceptionrecord_list' as interceptionrecord_list_url %}
    {% url 'victiminterview_list' as victiminterview_list_url %}
    {% url 'vdc_admin_page' as vdc_admin_page_url %}

    {% comment %}
      {% if 'irfs' in request.path or 'vifs' in request.path %}
        <li{% if 'irfs' in request.path %} class="active"{% endif %}>
	  <a href="{{ interceptionrecord_list_url }}">IRFs</a>
	</li>
        <li{% if 'vifs' in request.path %} class="active"{% endif %}>
	  <a href="{{ victiminterview_list_url }}">VIFs</a>
	</li>
      {% endif %}
    {% endcomment %}

    {% if 'search' in request.path or 'vdc-admin' in request.path %}
      <form class="navbar-form navbar-right" method="get" role="search"
            {% if 'irfs' in request.path %}
	      action="/data-entry/irfs/search/"
	    {% endif %}
            {% if 'vifs' in request.path %}
	      action="/data-entry/vifs/search/"
	    {% endif %}
            {% if 'vdc-admin' in request.path %}
	      action="/data-entry/geocodelocations/vdc-admin/search/"
	    {% endif %}
            >
	    {% csrf_token %}
      </form>
    {% endif %}
  </ul>

  {% block content %}
  {% endblock %}
{% endblock %}
