{% extends "base.html" %}
{% block head %}
    <script type="text/javascript">
        window.fuzzy_ajax_url = "{% url 'interceptee_fuzzy_matching' %}";
    </script>

    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}fuzzymatching-ui.less"/>
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}matching_modal.less"/>
{% endblock %}

{% block afterjquery %}
    <script src="{{ STATIC_URL }}matching_modal.js"></script>
    <script src="{{ STATIC_URL }}fuzzymatching-ui.js"></script>
{% endblock %}

{% block tab_block %}
    <ul class="nav nav-tabs">
        {% url 'interceptionrecord_list' as interceptionrecord_list_url %}
        {% url 'victiminterview_list' as victiminterview_list_url %}
        {% url 'vdc_admin_page' as vdc_admin_page_url %}

{% comment %}
        {% if 'irfs' in request.path or 'vifs' in request.path %}
        <li{% if 'irfs' in request.path %} class="active"{% endif %}><a href="{{ interceptionrecord_list_url }}">IRFs</a></li>
        <li{% if 'vifs' in request.path %} class="active"{% endif %}><a href="{{ victiminterview_list_url }}">VIFs</a></li>
        {% endif %}
{% endcomment %}
    
    {% if 'search' in request.path or 'vdc-admin' in request.path %}
        <form class="navbar-form navbar-right"
        {% if 'irfs' in request.path %} action="/data-entry/irfs/search/" {% endif %}
        {% if 'vifs' in request.path %} action="/data-entry/vifs/search/" {% endif %}
        {% if 'vdc-admin' in request.path %} action="/data-entry/geocodelocations/vdc-admin/search/" {% endif %}
        method="get" role="search">{% csrf_token %}
        </form>
    {% endif %}
        </ul>

    {% block content %}
    {% endblock %}
    <div id="matching_modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <!-- .modal-content -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Please select the correct attributes&hellip;</h4>
                </div>
                <div class="modal-body">
                    body
                </div>
            </div>
        </div>
    </div>
{% endblock %}

