{% extends "base.html" %}

{% block tab_block %}
    <ul class="nav nav-tabs">
        {% url 'interceptionrecord_list' as interceptionrecord_list_url %}
        <li{% if request.path == interceptionrecord_list_url %} class="active"{% endif %}><a href="{{ interceptionrecord_list_url }}">IRFs</a></li>

        {% url 'interceptionrecord_list' as interceptionrecord_list_url %}
        <li{% if request.path != interceptionrecord_list_url %} class="active"{% endif %}><a href="{{ interceptionrecord_list_url }}">VIFs</a></li>
    </ul>
    {% block content %}
    {% endblock %}
{% endblock %}

