<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title" id="myModalLabel">
                District Create
            </h4> 
        </div> 
        <div class="modal-body">
            <p>Address 1 created sucessfully</p>
        </div> 
        <div class="modal-footer">
        </div> 
    </div><!-- /.modal-content --> 
</div><!-- /.modal-dialog -->
<script>
    $(function(){
        setTimeout(function(){ $("#modal").modal("hide")}, 3000);
    });
</script>
