{#<script src="https://rawgit.com/krisk/fuse/master/src/fuse.min.js"></script>#}
<div id="fuzzymatching-ui" class="arrow_box" data-ajax="{% url 'interceptee_fuzzy_matching' %}">
    <div id="fuzzymatching-list">
        <ul class="list-unstyled">
            <li>Type to search for matches</li>
        </ul>
    </div>
    <div id="fuzzymatching-pic">
        <img src=""/>
    </div>
</div>
<div id="fuzzymatching-ui2"><div class="fuzzymatching-list"><ul class="list-unstyled"><li>No matches</li></ul></div></div>
