{% extends "dataentry/dataentry_base.html" %}
{% load widget_tweaks %}

{% block title %}{% if interceptionrecord %}Edit IRF{% else %}Create IRF{% endif%}{% endblock %}

{% block body_class %}{% if interceptionrecord %}interceptionrecord_update{% else %}interceptionrecord_create{% endif%}{% endblock %}

{% block head %}
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script>
function calculateTotal() {
    var total = 0;
    $('input[type="checkbox"]').each(function(id, elem) {
        var value = $(elem).next('.red-flag').text();
        if (value && $(elem).prop('checked')) {
            total += parseInt(value);
        }
    });
    $('#calculated-total').text(total);
}
$(document).ready(function() {
    $('input[type="checkbox"]').click(calculateTotal);
    calculateTotal();
    var resize = function() {
        $('.photo').each(function() {
            var width = $(this).width();
            $(this).height(width);
            $(this).css('line-height', width + 'px');
        });
    };
    $(window).resize(resize);
    resize();
});
</script>
<style>
td {
    vertical-align: middle !important;
}
.center {
    text-align: center;
}
.form-page {
    background-image: url({{ STATIC_URL }}images/irf-background.png);
    background-size: 100%;
    border: 1px solid #888;
    box-shadow: 2px 2px 2px black;
    padding: 50px;
    color: black !important;
    margin-bottom: 32px;
    margin-top: 20px;
}
table, td, tr, thead, th, tbody {
    border-color: black !important;
}
th {
    text-align: center;
}
label {
    display: inline !important;
}
.bg-danger {
    background-color: rgba(128, 0, 0, 0.2) !important; 
    padding: 8px;
}
.bg-success {
    background-color: rgba(0, 128, 0, 0.2) !important; 
    padding: 8px;
}
.bg-primary {
    background-color: rgba(0, 0, 128, 0.3) !important; 
    padding: 8px;
    color: black !important;
}
.text-danger {
    color: #800000 !important;
}
.text-success {
    color: #4F6128 !important;
}
.red-flag {
    background-image: url({{ STATIC_URL }}images/red-flag.png);
    color: #EADC9F;
    font-size: 13px;
    font-weight: bold;
    line-height: 32px;
    width: 32px;
    height: 31px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.green-light {
    background-image: url({{ STATIC_URL }}images/green-light.png);
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}
label {
    color: #800000 !important;
}
.interceptee-form {
    background-color: white;
}
.interceptee-form input, .interceptee-form select {
    width: 100%;
    padding: 11px 4px;
}
.interceptee-form td {
    padding: 0 !important;
}

.photo {
    border: 1px solid #444;
    width: 100%;
    height: 100%;
    margin-bottom: 21px;
    text-align: center;
    line-height: 100%;
}
.photo img {
    display: block;
    width: 100%;
    height: 100%;
}

.signature-box {
    border: 1px solid #444;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}
</style>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="POST" class="row">{% csrf_token %}
    <div class="row form-page">
        <div class="row">
            <div class="col-sm-6">
                <img class="pull-left" style="margin-right: 20px" width="100" src="{{ STATIC_URL }}images/logo.png" alt="Tiny Hands Logo" />
                <h2>Interception Record Form (IRF)<br/>
                Version 2.1 <span class="text-danger">Tiny Hands Nepal</span></h2>
            </div>
            <div class="col-sm-6">
                <p class="bg-danger">You will find instructions for each section in the pink boxes like this</p>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                IRF #: {{ form.irf_number }}<br/>
                                Time: {{ form.time }}
                            </td>
                            <td>
                                # of victims: {{ form.number_of_victims }}<br/>
                                # of traffickers: {{ form.number_of_traffickers }}
                            </td>
                            <td>
                                Location: {{ form.location }}<br/>
                                Staff Name: {{ form.staff_name }}
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bg-danger">
            <p><strong>Instructions:</strong>
                Use this Questioning Protocol to guide your investigation. Record each answer and Red Flag by checking the appropriate boxes.
            </p>
            <p class="text-danger">
                <span class="red-flag"></span> Red Flags: Each Red Flag is designated by a certain number of points. Although you will make the final decision,
                a rough guideline is that if you have more than 50 Red Flag Points you should intercept the girl.
            </p>
            <p class="text-success">
                <span class="green-light"></span> Green Lights: This symbol is a green light, indicating that you should cease questioning and allow the girl to proceed on her way to India. 
            </p>
        </div>
        <table class="table table-bordered" style="margin-bottom: 0">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Action</th>
                    <th>Red Flag</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="5" class="center">
                        <strong>Who is in the group?</strong>
                    </td>
                    <td rowspan="2" class="center">
                        <strong>1.1</strong>
                        {{ form.who_in_group.0 }}
                        {{ form.who_in_group.choice.0.label_tag }}</td>
                    <td class="center">"Are you meeting someone in India?"</td>
                    <td>
                        <strong>3.1</strong>
                        {{ form.drugged_or_drowsy }}
                        <span class="red-flag">{{ form.drugged_or_drowsy.field.weight }}</span>
                        {{ form.drugged_or_drowsy.label_tag }}<br/>


                        <strong>3.2</strong>
                        {{ form.meeting_someone_across_border }}
                        <span class="red-flag">{{ form.meeting_someone_across_border.field.weight }}</span>
                        {{ form.meeting_someone_across_border.label_tag }}<br/>

                        <strong>3.3</strong>
                        {{ form.seen_in_last_month_in_nepal }}
                        <span class="red-flag">{{ form.seen_in_last_month_in_nepal.field.weight }}</span>
                        {{ form.seen_in_last_month_in_nepal.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td class="center">Was she traveling with someone earlier?</td>
                    <td>
                        <strong>3.4</strong>
                        {{ form.traveling_with_someone_not_with_her }}
                        <span class="red-flag">{{ form.traveling_with_someone_not_with_her.field.weight }}</span>
                        {{ form.traveling_with_someone_not_with_her.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="center">
                        <strong>1.2</strong>
                        {{ form.who_in_group.1 }}
                        {{ form.who_in_group.choice.1.label_tag }}<br/>

                        <strong>3.5</strong>
                        {{ form.wife_under_18 }}
                        <span class="red-flag">{{ form.wife_under_18.field.weight }}</span>
                        {{ form.wife_under_18.label_tag }}
                    </td>
                    <td class="center">Ask when she was married</td>
                    <td>
                        <strong>3.6</strong>
                        {{ form.married_in_past_2_weeks }}
                        <span class="red-flag">{{ form.married_in_past_2_weeks.field.weight }}</span>
                        {{ form.married_in_past_2_weeks.label_tag }}<br/>

                        <strong>3.7</strong>
                        {{ form.married_in_past_2_8_weeks }}
                        <span class="red-flag">{{ form.married_in_past_2_8_weeks.field.weight }}</span>
                        {{ form.married_in_past_2_8_weeks.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td class="center">Ask when they met</td>
                    <td>
                        <strong>3.8</strong>
                        {{ form.less_than_2_weeks_before_eloping }}
                        <span class="red-flag">{{ form.less_than_2_weeks_before_eloping.field.weight }}</span>
                        {{ form.less_than_2_weeks_before_eloping.label_tag }}<br/>

                        <strong>3.9</strong>
                        {{ form.between_2_12_weeks_before_eloping }}
                        <span class="red-flag">{{ form.between_2_12_weeks_before_eloping.field.weight }}</span>
                        {{ form.between_2_12_weeks_before_eloping.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <strong>1.3</strong>
                        {{ form.who_in_group.2 }}
                        {{ form.who_in_group.choice.2.label_tag }}<br/>
                    </td>
                    <td class="center">Check citizenship cards</td>
                    <td>
                        <strong>3.10</strong>
                        {{ form.caste_not_same_as_relative }}
                        <span class="red-flag">{{ form.caste_not_same_as_relative.field.weight }}</span>
                        {{ form.caste_not_same_as_relative.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="bg-danger center">
                        If there is more than one person in the group, separate them at this point.<br/>
                        <strong>3.11</strong>
                        {{ form.caught_in_lie }}
                        <span class="red-flag">{{ form.caught_in_lie.field.weight }}</span>
                        {{ form.caught_in_lie.label_tag }}

                    </td>
                </tr>
                <tr>
                    <td rowspan="9" class="center">
                        <strong>Where are you going, and for what?</strong></br>

                        <strong>3.12</strong>
                        {{ form.doesnt_know_going_to_india }}
                        <span class="red-flag">{{ form.doesnt_know_going_to_india.field.weight }}</span>
                        {{ form.doesnt_know_going_to_india.label_tag }}<br/>

                        <strong>3.13</strong>
                        {{ form.running_away_over_18 }}
                        <span class="red-flag">{{ form.running_away_over_18.field.weight }}</span>
                        {{ form.running_away_over_18.label_tag }}<br/>

                        <strong>3.14</strong>
                        {{ form.running_away_under_18 }}
                        <span class="red-flag">{{ form.running_away_under_18.field.weight }}</span>
                        {{ form.running_away_under_18.label_tag }}
                    </td>
                    <td rowspan="2" class="center">
                        <strong>2.1</strong>
                        {{ form.where_going.0 }}
                        {{ form.where_going.choice.0.label_tag }}<br/>
                    
                        <strong>3.15</strong>
                        {{ form.going_to_gulf_for_work }}
                        <span class="red-flag">{{ form.going_to_gulf_for_work.field.weight }}</span>
                        {{ form.going_to_gulf_for_work.label_tag }}
                    </td>
                    <td class="center">Check documents</td>
                    <td>
                        <strong>3.16</strong>
                        {{ form.no_address_in_india }}
                        <span class="red-flag">{{ form.no_address_in_india.field.weight }}</span>
                        {{ form.no_address_in_india.label_tag }}<br/>

                        <strong>3.17</strong>
                        {{ form.no_company_phone }}
                        <span class="red-flag">{{ form.no_company_phone.field.weight }}</span>
                        {{ form.no_company_phone.label_tag }}<br/>

                        <strong>3.18</strong>
                        {{ form.no_appointment_letter }}
                        <span class="red-flag">{{ form.no_appointment_letter.field.weight }}</span>
                        {{ form.no_appointment_letter.label_tag }}<br/>

                        <strong>3.19</strong>
                        {{ form.valid_gulf_country_visa }}
                        <span class="red-flag">{{ form.valid_gulf_country_visa.field.weight }}</span>
                        {{ form.valid_gulf_country_visa.label_tag }}<br/>

                        <strong>3.20</strong>
                        {{ form.passport_with_broker }}
                        <span class="red-flag">{{ form.passport_with_broker.field.weight }}</span>
                        {{ form.passport_with_broker.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td class="center">Call job place</td>
                    <td>
                        <strong>3.21</strong>
                        {{ form.not_real_job }}
                        <span class="red-flag">{{ form.not_real_job.field.weight }}</span>
                        {{ form.not_real_job.label_tag }}<br/>

                        <strong>3.22</strong>
                        {{ form.couldnt_confirm_job }}
                        <span class="red-flag">{{ form.couldnt_confirm_job.field.weight }}</span>
                        {{ form.couldnt_confirm_job.label_tag }}<br/>

                        <p class="text-success"><span class="green-light"></span> Job Confirmed</p>
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <strong>2.2</strong>
                        {{ form.where_going.1 }}
                        {{ form.where_going.choice.1.label_tag }}
                    </td>
                    <td class="center">Check bags</td>
                    <td>
                        <strong>3.23</strong>
                        {{ form.no_bags_long_trip }}
                        <span class="red-flag">{{ form.no_bags_long_trip.field.weight }}</span>
                        {{ form.no_bags_long_trip.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <strong>2.3</strong>
                        {{ form.where_going.2 }}
                        {{ form.where_going.choice.2.label_tag }}
                    </td>
                    <td class="center">Check to see if bags are empty</td>
                    <td>
                        <strong>3.24</strong>
                        {{ form.shopping_overnight_stuff_in_bags }}
                        <span class="red-flag">{{ form.shopping_overnight_stuff_in_bags.field.weight }}</span>
                        {{ form.shopping_overnight_stuff_in_bags.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="center">
                        <strong>2.4</strong>
                        {{ form.where_going.3 }}
                        {{ form.where_going.choice.3.label_tag }}
                    </td>
                    <td class="center">Check documents</td>
                    <td>
                        <strong>3.25</strong>
                        {{ form.no_enrollment_docs }}
                        <span class="red-flag">{{ form.no_enrollment_docs.field.weight }}</span>
                        {{ form.no_enrollment_docs.label_tag }}<br/>

                        <strong>3.26</strong>
                        {{ form.doesnt_know_school_name }}
                        <span class="red-flag">{{ form.doesnt_know_school_name.field.weight }}</span>
                        {{ form.doesnt_know_school_name.label_tag }}<br/>

                        <strong>3.27</strong>
                        {{ form.no_school_phone }}
                        <span class="red-flag">{{ form.no_school_phone.field.weight }}</span>
                        {{ form.no_school_phone.label_tag }}<br/>

                        <p class="text-success"><span class="green-light"></span> Valid ID card or enrollment documents</p>
                    </td>
                </tr>
                <tr>
                    <td class="center">Call School</td>
                    <td>
                        <p class="text-success"><span class="green-light"></span> Enrollment Confirmed</p>

                        <strong>3.28</strong>
                        {{ form.not_enrolled_in_school }}
                        <span class="red-flag">{{ form.not_enrolled_in_school.field.weight }}</span>
                        {{ form.not_enrolled_in_school.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td rowspan="3" class="center">
                        <strong>2.5</strong>
                        {{ form.where_going.4 }}
                        {{ form.where_going.choice.4.label_tag }}
                    </td>
                    <td class="center">Ask which hospital, doctor</td>
                    <td>
                        <strong>3.29</strong>
                        {{ form.reluctant_treatment_info }}
                        <span class="red-flag">{{ form.reluctant_treatment_info.field.weight }}</span>
                        {{ form.reluctant_treatment_info.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td class="center">Check documents</td>
                    <td>
                        <strong>3.30</strong>
                        {{ form.no_medical_documents }}
                        <span class="red-flag">{{ form.no_medical_documents.field.weight }}</span>
                        {{ form.no_medical_documents.label_tag }}<br/>

                        <strong>3.31</strong>
                        {{ form.fake_medical_documents }}
                        <span class="red-flag">{{ form.fake_medical_documents.field.weight }}</span>
                        {{ form.fake_medical_documents.label_tag }}<br/>

                        <p class="text-success"><span class="green-light"></span> Valid Documents (Referring Doctor's report, prescription, x-ray, etc.)</p>
                    </td>
                </tr>
                <tr>
                    <td class="center">Call doctor</td>
                    <td>
                        <p class="text-success"><span class="green-light"></span> Enrollment Confirmed</p>

                        <strong>3.32</strong>
                        {{ form.no_medical_appointment }}
                        <span class="red-flag">{{ form.no_medical_appointment.field.weight }}</span>
                        {{ form.no_medical_appointment.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="bg-danger center">
                        Only proceed if there have been 20 red flag points and no green lights.
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td class="center">
                        <strong>Where are you from?</strong><br/>
                        Ask her to describe in detail
                    </td>
                    <td colspan="2">
                        <strong>3.33</strong>
                        {{ form.doesnt_know_villiage_details }}
                        <span class="red-flag">{{ form.doesnt_know_villiage_details.field.weight }}</span>
                        {{ form.doesnt_know_villiage_details.label_tag }}
                    </td>
                    <td>
                        <strong>3.34</strong>
                        {{ form.reluctant_villiage_info }}
                        <span class="red-flag">{{ form.reluctant_villiage_info.field.weight }}</span>
                        {{ form.reluctant_villiage_info.label_tag }}
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" class="center">
                        <strong>"Who is your family?"</strong><br/>
                        Ask for family contact info
                    </td>
                    <td rowspan="2">
                        <strong>3.35</strong>
                        {{ form.reluctant_family_info }}
                        <span class="red-flag">{{ form.reluctant_family_info.field.weight }}</span>
                        {{ form.reluctant_family_info.label_tag }}<br/>

                        <strong>3.36</strong>
                        {{ form.refuses_family_info }}
                        <span class="red-flag">{{ form.refuses_family_info.field.weight }}</span>
                        {{ form.refuses_family_info.label_tag }}
                    </td>
                    <td>
                        <strong>Under 18 years old</strong>
                    </td>
                    <td>
                        <strong>18 years or older</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>3.37</strong>
                        {{ form.under_18_cant_contact_family }}
                        <span class="red-flag">{{ form.under_18_cant_contact_family.field.weight }}</span>
                        {{ form.under_18_cant_contact_family.label_tag }}<br/>

                        <strong>3.38</strong>
                        {{ form.under_18_family_doesnt_know }}
                        <span class="red-flag">{{ form.under_18_family_doesnt_know.field.weight }}</span>
                        {{ form.under_18_family_doesnt_know.label_tag }}<br/>

                        <strong>3.39</strong>
                        {{ form.under_18_family_unwilling }}
                        <span class="red-flag">{{ form.under_18_family_unwilling.field.weight }}</span>
                        {{ form.under_18_family_unwilling.label_tag }}
                    </td>
                    <td>
                        <strong>3.40</strong>
                        {{ form.over_18_family_doesnt_know }}
                        <span class="red-flag">{{ form.over_18_family_doesnt_know.field.weight }}</span>
                        {{ form.over_18_family_doesnt_know.label_tag }}<br/>

                        <strong>3.41</strong>
                        {{ form.over_18_family_unwilling }}
                        <span class="red-flag">{{ form.over_18_family_unwilling.field.weight }}</span>
                        {{ form.over_18_family_unwilling.label_tag }}
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-8">
                Which family member did you talk to? 
                <strong>4.1</strong> {{ form.talked_to_brother }} {{ form.talked_to_brother.label_tag }}&nbsp;&nbsp;&nbsp;
                <strong>4.2</strong> {{ form.talked_to_sister }} {{ form.talked_to_sister.label_tag }}&nbsp;&nbsp;&nbsp;
                <strong>4.3</strong> {{ form.talked_to_father }} {{ form.talked_to_father.label_tag }}<br/>
                <strong>4.4</strong> {{ form.talked_to_mother }} {{ form.talked_to_mother.label_tag }}&nbsp;&nbsp;&nbsp;
                <strong>4.5</strong> {{ form.talked_to_grandparent }} {{ form.talked_to_grandparent.label_tag }}&nbsp;&nbsp;&nbsp;
                <strong>4.6</strong> {{ form.talked_to_aunt_uncle }} {{ form.talked_to_aunt_uncle.label_tag }}<br/>
                <strong>4.7</strong>&nbsp;{{ form.talked_to_other }} {{ form.talked_to_other.label_tag }} {{ form.talked_to_other_value }}
            </div>
            <div class="col-sm-2">
                <strong>5.0</strong> {{ form.reported_total_red_flags.label_tag }} {{ form.reported_total_red_flags }}
            </div>
            <div class="col-sm-2">
                <strong>Calculated Total Red Flag Points: <span id="calculated-total">0</span></strong>
            </div>
        </div>
    </div>

    <div class="row form-page">

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="4" class="bg-danger center">
                        Only fill out this side of the form if you intercept the girls.
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <strong>How did you make the interception?</strong>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="4" class="bg-success">
                        <strong>6.0</strong>&nbsp;{{ form.contact_noticed }}  {{ form.contact_noticed.label_tag }}
                    </td>
                </tr>
                <tr class="bg-success">
                    <td>
                        <strong>6.1</strong>&nbsp;{{ form.contact_hotel_owner }}          {{ form.contact_hotel_owner.label_tag }}<br/>
                        <strong>6.2</strong>&nbsp;{{ form.contact_rickshaw_driver }}      {{ form.contact_rickshaw_driver.label_tag }}<br/>
                        <strong>6.3</strong>&nbsp;{{ form.contact_taxi_driver }}          {{ form.contact_taxi_driver.label_tag }}
                    </td>
                    <td>
                        <strong>6.4</strong>&nbsp;{{ form.contact_bus_driver }}           {{ form.contact_bus_driver.label_tag }}<br/>
                        <strong>6.5</strong>&nbsp;{{ form.contact_church_member }}        {{ form.contact_church_member.label_tag }}<br/>
                        <strong>6.6</strong>&nbsp;{{ form.contact_other_ngo }}            {{ form.contact_other_ngo.label_tag }}
                    </td>
                    <td>
                        <strong>6.7</strong>&nbsp;{{ form.contact_police }}               {{ form.contact_police.label_tag }}<br/>
                        <strong>6.8</strong>&nbsp;{{ form.contact_subcommittee_member }}  {{ form.contact_subcommittee_member.label_tag }}<br/>
                        <strong>6.9</strong>&nbsp;{{ form.contact_other }}&nbsp;{{ form.contact_other.label_tag }}&nbsp;{{ form.contact_other_value }}
                    </td>
                    <td>
                        Did you pay this contact for the information?<br/>
                        <strong>6.10</strong>&nbsp;{{ form.contact_paid_no }}               {{ form.contact_paid_no.label_tag }}&nbsp;&nbsp;&nbsp;
                        <strong>6.11</strong>&nbsp;{{ form.contact_paid_yes }}               {{ form.contact_paid_yes.label_tag }}&nbsp;&nbsp;&nbsp;
                        {{ form.contact_paid_how_much.label_tag }}  {{ form.contact_paid_how_much }}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="5" class="bg-primary">
                        <strong>7.0</strong>&nbsp;{{ form.staff_noticed }}  {{ form.staff_noticed.label_tag }}
                    </td>
                </tr>
                <tr class="bg-primary">
                    <td colspan="5">
                        <strong>7.1</strong>&nbsp;{{ form.staff_who_noticed.label_tag }} {{ form.staff_who_noticed }}
                        What was the sign that made you stop the girl for questioning? (check all that apply below)
                    </td>
                </tr>
                <tr class="bg-primary">
                    <th>Manner</th>
                    <th>Attire</th>
                    <th>Appearance</th>
                    <th colspan="2">Action</th>
                </tr>
                <tr class="bg-primary">
                    <td>
                        <strong>7.2</strong>&nbsp;{{ form.noticed_hesitant }}              {{ form.noticed_hesitant.label_tag }}<br/>
                        <strong>7.3</strong>&nbsp;{{ form.noticed_nervous_or_afraid }}     {{ form.noticed_nervous_or_afraid.label_tag }}<br/>
                        <strong>7.4</strong>&nbsp;{{ form.noticed_hurrying }}              {{ form.noticed_hurrying.label_tag }}<br/>
                        <strong>7.5</strong>&nbsp;{{ form.noticed_drugged_or_drowsy }}     {{ form.noticed_drugged_or_drowsy.label_tag }}
                    </td>
                    <td>
                        <strong>7.6</strong>&nbsp;{{ form.noticed_new_clothes }}           {{ form.noticed_new_clothes.label_tag }}<br/>
                        <strong>7.7</strong>&nbsp;{{ form.noticed_dirty_clothes }}         {{ form.noticed_dirty_clothes.label_tag }}<br/>
                        <strong>7.8</strong>&nbsp;{{ form.noticed_carrying_full_bags }}    {{ form.noticed_carrying_full_bags.label_tag }}<br/>
                        <strong>7.9</strong>&nbsp;{{ form.noticed_village_dress }}         {{ form.noticed_village_dress.label_tag }}
                    </td>
                    <td>
                        <strong>7.10</strong>&nbsp;{{ form.noticed_indian_looking }}       {{ form.noticed_indian_looking.label_tag }}<br/>
                        <strong>7.11</strong>&nbsp;{{ form.noticed_typical_village_look }} {{ form.noticed_typical_village_look.label_tag }}<br/>
                        <strong>7.12</strong>&nbsp;{{ form.noticed_looked_like_agent }}    {{ form.noticed_looked_like_agent.label_tag }}<br/>
                        <strong>7.13</strong>&nbsp;{{ form.noticed_caste_difference }}     {{ form.noticed_caste_difference.label_tag }}<br/>
                        <strong>7.14</strong>&nbsp;{{ form.noticed_young_looking }}        {{ form.noticed_young_looking.label_tag }}
                    </td>
                    <td>
                        <strong>7.15</strong>&nbsp;{{ form.noticed_waiting_sitting }}      {{ form.noticed_waiting_sitting.label_tag }}<br/>
                        <strong>7.16</strong>&nbsp;{{ form.noticed_walking_to_border }}    {{ form.noticed_walking_to_border.label_tag }}<br/>
                        <strong>7.17</strong>&nbsp;{{ form.noticed_roaming_around }}       {{ form.noticed_roaming_around.label_tag }}<br/>
                        <strong>7.18</strong>&nbsp;{{ form.noticed_exiting_vehicle }}      {{ form.noticed_exiting_vehicle.label_tag }}<br/>
                        <strong>7.19</strong>&nbsp;{{ form.noticed_heading_to_vehicle }}   {{ form.noticed_heading_to_vehicle.label_tag }}<br/>
                    </td>
                    <td>
                        <strong>7.20</strong>&nbsp;{{ form.noticed_in_a_vehicle }}         {{ form.noticed_in_a_vehicle.label_tag }}<br/>
                        <strong>7.21</strong>&nbsp;{{ form.noticed_in_a_rickshaw }}        {{ form.noticed_in_a_rickshaw.label_tag }}<br/>
                        <strong>7.22</strong>&nbsp;{{ form.noticed_in_a_cart }}            {{ form.noticed_in_a_cart.label_tag }}<br/>
                        <strong>7.23</strong>&nbsp;{{ form.noticed_carrying_a_baby }}      {{ form.noticed_carrying_a_baby.label_tag }}<br/>
                        <strong>7.24</strong>&nbsp;{{ form.noticed_on_the_phone }}         {{ form.noticed_on_the_phone.label_tag }}
                    </td>
                </tr>

            </tbody>
        </table>

        {{ inlines.0.management_form }}
        <div class="row">
            <div class="col-sm-10">
                <table class="table table-bordered interceptee-form">
                    <thead>
                        <tr>
                            <th>V<br><small>victim</small><br/>T<br/><small>trafficker</small></th>
                            <th>Full Name</th>
                            <th>Age</th>
                            <th>District</th>
                            <th>VDC</th>
                            <th>Phone Contact</th>
                            <th>Relation to...</th>
                            <th>Photo Upload</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for interceptee_form in inlines.0 %}
                            <tr>
                                <td style="width: 7%">{{ interceptee_form.id }} {{ interceptee_form.kind }}</td>
                                <td>{{ interceptee_form.full_name }}</td>
                                <td style="width: 7%">{{ interceptee_form.age }}</td>
                                <td>{{ interceptee_form.district }}</td>
                                <td>{{ interceptee_form.vdc }}</td>
                                <td>{{ interceptee_form.phone_contact }}</td>
                                <td>{{ interceptee_form.relation_to }}</td>
                                <td style="width: 20%">{{ interceptee_form.photo }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="bg-danger">You must complete each of these procedures for this IRF to be 
                        considered correctly filled out. Tick each box to indicate that 
                        you have completed the procedure.</p>

                        <h3 class="text-center">Procedures</h3>
                        <strong>8.1</strong>&nbsp;{{ form.call_subcommittee_chair }} {{ form.call_subcommittee_chair.label_tag }}<br/>
                        <strong>8.2</strong>&nbsp;{{ form.call_thn_to_cross_check }} {{ form.call_thn_to_cross_check.label_tag }}<br/>
                        Had any name come up before?
                        {{ form.name_come_up_before_yes }} {{ form.name_come_up_before_yes.label_tag }} {{ form.name_come_up_before_no }} {{ form.name_come_up_before_no.label_tag }} <br/>
                        {{ form.name_come_up_before_yes_value.label_tag }}  {{ form.name_come_up_before_yes_value }}
                        <strong>8.3</strong>&nbsp;{{ form.scan_and_submit_same_day }} {{ form.scan_and_submit_same_day.label_tag }}

                        <p class="bg-danger" style="margin-top: 40px">
                        {{ form.scanned_form.label_tag }} {{ form.scanned_form }}
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-center">Type of Intercept</h3>
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>9.1</strong>&nbsp;{{ form.type_gulf_countries }} {{ form.type_gulf_countries.label_tag }}
                            </div>
                            <div class="col-sm-6">
                                <strong>9.2</strong>&nbsp;{{ form.type_gulf_countries }} {{ form.type_gulf_countries.label_tag }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <strong>9.3</strong>&nbsp;{{ form.type_indian_circus }} {{ form.type_indian_circus.label_tag }}
                            </div>
                            <div class="col-sm-6">
                                <strong>9.4</strong>&nbsp;{{ form.type_runaway }} {{ form.type_runaway.label_tag }}
                            </div>
                        </div>

                        <strong>9.6</strong>&nbsp;{{ form.trafficker_taken_into_custody.label_tag }} {{ form.trafficker_taken_into_custody }}<br/>
                        <strong>9.7</strong>&nbsp;{{ form.how_sure_was_trafficking.label_tag }}<br/>
                        <strong>Rate from 1-5</strong> <small>1 = not at all sure, 5 = absolutely sure</small> {{ form.how_sure_was_trafficking|attr:'style: width: 60px' }}

                        <div class="signature-box text-center">
                            <p><strong>I certify that I have followed procedures and filled out this form correctly, completely, and accurately.</strong></p>

                            <p><em><input style="width: 100%" type="text" disabled="disabled" value="Does the original form have a valid signature?"/></em></p>
                            {{ form.has_signature }} {{ form.has_signature.label_tag }}


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                {% for interceptee_form in inlines.0|slice:":6" %}
                    <div class="photo">
                        {% if interceptee_form.instance.photo_thumbnail %}
                            <img src="{{ interceptee_form.instance.photo_thumbnail.url }}" />
                        {% else %}
                            PHOTO {{ forloop.counter }}
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% for interceptee_form in inlines.0|slice:"6:" %}
                <div class="col-sm-2">
                    <div class="photo">
                        {% if interceptee_form.photo_thumbnail.url %}
                            <img class="img-thumbnail" src="{{ interceptee_form.photo_thumbnail.url }}" />
                        {% else %}
                            PHOTO {{ forloop.counter|add:"6" }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ form.errors }}
    <input type="submit" style="margin-top: 20px" class="pull-right btn btn-primary btn-lg" value="{% if interceptionrecord %}Update{% else %}Create{% endif%}" />
</form>

{% endblock %}

