<!-- .modal -->
<div class="modal fade">
    <!-- /.modal-dialog -->
    <div class="modal-dialog modal-lg">
        <!-- .modal-content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Please select the correct attributes&hellip;</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="well well-sm">
                            <div id="name">Frank Sinatra</div>
                            <img id="photo" class="img-responsive img-rounded" src="/media/interceptee_photos/frank_sinatra.jpg"/>
                            <address>
                                <strong>Taylor University</strong><br/>
                                236 W. Reade Ave<br/>
                                Upland, IN 46989<br/>
                                <abbr title="Phone">P:</abbr>(31)-8456-6435
                            </address>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="attribute col-lg-6">
                                <h3>Relation</h3>
                                <label>Form:</label>

                                <div id="name" class="entered input-group">
                                    <span class="form-control">Frank Sintra</span>
                                    <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                </div>
                                <label>Matches:</label>
                                <ul class="matched list-unstyled list-input-group">
                                    <li class="input-group">
                                        <span class="form-control">Frankie Sinatra</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">Frank Sinatra</span>
                                        <span class="input-group-btn"><button class="btn btn-success disabled">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">Frank Sintara</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute col-lg-6">
                                <h3>Phone Number</h3>
                                <label>Form:</label>

                                <div id="phone" class="entered input-group">
                                    <span class="form-control">(31)-8456-6435</span>
                                    <span class="input-group-btn"><button class="btn btn-success disabled">&#10003;</button></span>
                                </div>
                                <label>Matches:</label>
                                <ul class="matched list-unstyled list-input-group">
                                    {# NOTE: Nepal numbers are odd. Check here for ref http://www.howtocallabroad.com/nepal/ #}
                                    <li class="input-group">
                                        <span class="form-control">(85)-8973-5451</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">(84)-6315-5644</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">(31)-8456-6435</span>
                                        <span class="input-group-btn"><button class="btn btn-success disabled">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">(46)-3477-3618</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">(64)-1302-0004</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">(84)-7518-1050</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute col-lg-6">
                                <h3>Age</h3>
                                <label>Form:</label>

                                <div id="age" class="entered input-group">
                                    <span class="form-control">36</span>
                                    <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                </div>
                                <label>Matches:</label>
                                <ul class="matched list-unstyled list-input-group">
                                    <li class="input-group">
                                        <span class="form-control">37</span>
                                        <span class="input-group-btn"><button class="btn btn-success disabled">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">35</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">34</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">33</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="attribute col-lg-6">
                                <h3>Relation</h3>
                                <label>Form:</label>

                                <div id="relation" class="entered input-group">
                                    <span class="form-control">Jesuus</span>
                                    <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                </div>
                                <label>Matches:</label>
                                <ul class="matched list-unstyled list-input-group">
                                    <li class="input-group">
                                        <span class="form-control">Jeezus</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">Jesuus</span>
                                        <span class="input-group-btn"><button class="btn btn-default">&#10003;</button></span>
                                    </li>
                                    <li class="input-group">
                                        <span class="form-control">Jesus</span>
                                        <span class="input-group-btn"><button class="btn btn-success disabled">&#10003;</button></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Go back</button>
                <button type="button" class="btn btn-success">Use this person</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<link rel="stylesheet/less" type="text/css" href="/static/matching_modal.less"/>
<script src="{{ STATIC_URL }}matching_modal.js"></script>