{% extends "dataentry/dataentry_base.html" %}

{% load widget_tweaks %}
{% load unslugify %}
{% load times %}

{% block title %}Manage Address 2{% endblock %}
{% block content %}
{% block html %}<html ng-app="DataEntry">{% endblock %}

<!-- Modal -->
<div class="modal fade modal-over-tooltips" id="modal" role="dialog"
     aria-hidden="true" tabindex="-1"></div>
<!-- /.modal -->

<h1 class="text-center">All Address 2 Entries</h1>
<br/>

{% verbatim %}
<div ng-controller="address2Ctrl as vm">
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6 search-bar">
              <label>
                  <input type="search" ng-model="vm.searchValue" class="form-control">
              </label>
              <a class="btn btn-primary" ng-click="vm.searchAddresses()">Search</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Latitude</th>
            <th class="text-center">Longitude</th>
            <th class="text-center">Address 1</th>
            <th class="text-center">Canonical Name</th>
            <th class="text-center">Verified</th>
            <th class="text-center">&nbsp;</th>
        </tr>
        </thead>

        <tr ng-repeat="address in vm.addresses">

            <td class="text-center">{{ address.name }}</td>
            <td class="text-center">{{ address.latitude }}</td>
            <td class="text-center">{{ address.longitude }}</td>
            <td class="text-center">{{ address.district }}</td>
            <td class="text-center">{{ address.cannonical_name }}</td>
            <td class="text-center">
                {{ address2.verified ? "Yes" : "No" }}
            </td>
            <td>
                <a href="#" class="btn btn-warning">Edit</a>
            </td>
        </tr>
        <tr ng-show="vm.addresses.length == 0">
            <td colspan="12">There are currently no Address 2 records in the database</td>
        </tr>
        {% endverbatim %}
    </table>
</div>

{% load static from staticfiles %}
<script src="{% static "dataentry/js/dataEntryModule.js" %}"></script>
<script src="{% static "dataentry/js/services/address2Service.js" %}"></script>
<script src="{% static "dataentry/js/controllers/address2Ctrl.js" %}"></script>

{% endblock %}
