<div class="modal-dialog modal-sm">
    <div class="modal-content">
        <form id="vdc_create_form" method="post" class="form" role="form" action="{% url 'vdc_create_page' %}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Create VDC</h4>
            </div>
            <div class="modal-body"> 
                {% csrf_token %} 
                {{ form.non_field_errors }}
                <div class="form-group">
                    {% for field in form %}
                    <div class="form-group">
                        {% if field.errors %}
                        <ul class="form-errors">
                            {% for error in field.errors %}
                            <li>
                                <span class="fa fa-exclamation-triangle"></span><strong>{{ error|escape }}</strong>
                            </li> 
                            {% endfor %} 
                        </ul> 
                        {% endif %} 
                        {{ field.label_tag }} 
                        {{ field }} 
                        {% if field.help_text %}
                        <div class="form-helptext">{{ field.help_text }}</div>
                        {% endif %} 
                    </div>
                    {% endfor %} 
                </div> 
                <div class="modal-footer"> 
                    <input type="Save" class="btn btn-primary" value="Save" style="margin-bottom: 5px;" /> 
                </div>
            </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->