{% load widget_tweaks %}
{% load bootstrap %}

{{ lb_form.id }}
<div class="col-sm-6" style="padding: 20px">
    <div class="location-box location-box-top row checkbox-group-marker" id="which_place-{{ counter }}">
        <div class="col-sm-4">
            <div class="location-box-number">LB{{ counter }}</div>
            <h2 style="margin-left: -10px">Which place?</h2>
            <div class="checkbox-group">{{ lb_form.which_place_india_meetpoint }} {{ lb_form.which_place_india_meetpoint.label_tag }}</div>
            <div class="checkbox-group">{{ lb_form.which_place_manpower }} {{ lb_form.which_place_manpower.label_tag }}</div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox-group">{{ lb_form.which_place_transit_hideout }} {{ lb_form.which_place_transit_hideout.label_tag }}</div>
            <div class="checkbox-group">{{ lb_form.which_place_destination }} {{ lb_form.which_place_destination.label_tag }}</div>
            <div class="checkbox-group">{{ lb_form.which_place_passport }} {{ lb_form.which_place_passport.label_tag }}</div>
        </div>
        <div class="col-sm-4">
            <div class="checkbox-group">{{ lb_form.which_place_nepal_meet_point }} {{ lb_form.which_place_nepal_meet_point.label_tag }}</div>
            <div class="checkbox-group">{{ lb_form.which_place_known_location }} {{ lb_form.which_place_known_location.label_tag }}</div>
            <div class="checkbox-group">{{ lb_form.which_place_sex_industry }} {{ lb_form.which_place_sex_industry.label_tag }}</div>
        </div>
    </div>

    <div class="location-box row">
        <div class="inner checkbox-group-marker" id="what_kind_place-{{ counter }}">
            <h2>What kind of place is it?</h2>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_persons_house }} {{ lb_form.what_kind_place_persons_house.label_tag }}</div>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_bus_station }} {{ lb_form.what_kind_place_bus_station.label_tag }}</div>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_train_station }} {{ lb_form.what_kind_place_train_station.label_tag }}</div>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_shop }} {{ lb_form.what_kind_place_shop.label_tag }}</div>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_factory }} {{ lb_form.what_kind_place_factory.label_tag }}</div>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_brothel }} {{ lb_form.what_kind_place_brothel.label_tag }}</div>
            <div class="inline-checkbox-group">{{ lb_form.what_kind_place_hotel }} {{ lb_form.what_kind_place_hotel.label_tag }}</div>
        </div>
    </div>

    <div class="location-box row">
        <div class="col-sm-8 blue-border-right">
            <div class="col-sm-6">
                <div class="label-inside-field">
                    {{ lb_form.vdc.label_tag }}{{ lb_form.vdc }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="label-inside-field">
                    {{ lb_form.district.label_tag }}{{ lb_form.district }}
                </div>
            </div>

            <div class="col-sm-5">
                <div class="label-inside-field">
                    {{ lb_form.signboard.label_tag }}{{ lb_form.signboard }}
                </div>
            </div>
            <div class="col-sm-7">
                <div class="label-inside-field">
                    {{ lb_form.location_in_town.label_tag }}{{ lb_form.location_in_town }}
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="label-inside-field">
                {{ lb_form.phone.label_tag }}{{ lb_form.phone }}
            </div>
            <div class="col-sm-6">
                <div class="label-inside-field">
                    {{ lb_form.color.label_tag }}{{ lb_form.color }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="label-inside-field">
                    {{ lb_form.number_of_levels.label_tag }}{{ lb_form.number_of_levels }}
                </div>
            </div>
        </div>

    </div>

    <div class="location-box row">
        <div class="inner">
            <div class="col-sm-6">
                <div class="label-inside-field">
                    {{ lb_form.compound_wall.label_tag }}{{ lb_form.compound_wall }}
                </div>
                <div class="label-inside-field">
                    {{ lb_form.gate_color.label_tag }}{{ lb_form.gate_color }}
                </div>
                <div class="label-inside-field">
                    {{ lb_form.roof_type.label_tag }}{{ lb_form.roof_type }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="label-inside-field">
                    {{ lb_form.roof_color.label_tag }}{{ lb_form.roof_color }}
                </div>
                <div class="label-inside-field">
                    {{ lb_form.person_in_charge.label_tag }}{{ lb_form.person_in_charge }}
                </div>
                <div class="label-inside-field">
                    {{ lb_form.nearby_landmarks.label_tag }}{{ lb_form.nearby_landmarks }}
                </div>
            </div>

            <div class="col-sm-8">
                <h2>Which do you agree with about this place?</h2>
                <div class="clearfix">
                    <div class="pull-left interviewer-believes-box checkbox-group-marker" id="lb_interviewer_believes-{{ counter }}">
                        {{ lb_form.interviewer_believes_trafficked_many_girls }}
                        <br/>
                        {{ lb_form.interviewer_believes_trafficked_some_girls }}
                        <br/>
                        {{ lb_form.interviewer_believes_suspect_used_for_trafficking }}
                        <br/>
                        {{ lb_form.interviewer_believes_not_used_for_trafficking }}
                    </div>
                    <div class="pull-right victim-believes-box checkbox-group-marker" id="lb_victim_believes-{{ counter }}">

                        {{ lb_form.victim_believes_trafficked_many_girls }}
                        <br/>
                        {{ lb_form.victim_believes_trafficked_some_girls }}
                        <br/>
                        {{ lb_form.victim_believes_suspect_used_for_trafficking }}
                        <br/>
                        {{ lb_form.victim_believes_not_used_for_trafficking }}
                    </div>
                    <div class="text-center">
                        Definitely trafficked many girls
                        <br/>
                        Has trafficked some girls
                        <br/>
                        Suspect he's a trafficker
                        <br/>
                        Don't believe he's a trafficker
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="label-inside-field">
                    {{ lb_form.nearby_signboards.label_tag }}{{ lb_form.nearby_signboards }}
                </div>
                <div class="label-inside-field">
                    {{ lb_form.other.label_tag }}{{ lb_form.other }}
                </div>
            </div>
        </div>
    </div>
    <div class="location-box row checkbox-group-marker" id="associated_with_person-{{ counter }}">
        <h2>Do you know of anyone involved with trafficking who is associated with this place?</h2>
        {% for choice in lb_form.associated_with_person %}
            <div class="inline-radio-group">
                {{ choice }}
            </div>
        {% endfor %}
        <span class="red-arrow">PB# {{ lb_form.associated_with_person_value|attr:"style: width: 40px" }}</span>
    </div>
</div>
