{% load widget_tweaks %}
{% load bootstrap %}

{{ pb_form.id }}
<div class="col-sm-4" style="padding: 20px">
    <div class="person-box person-box-top row">
        <div class="col-sm-5">
            <div class="red-border-right red-border-bottom inner smaller">
                <h2>Who is this?</h2>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_boss_of }} {{ pb_form.who_is_this_boss_of.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_coworker_of }} {{ pb_form.who_is_this_coworker_of.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_own_relative_of }} {{ pb_form.who_is_this_own_relative_of.label_tag }}
                </div>
            </div>
            <div class="red-border-right inner">
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_broker }} {{ pb_form.who_is_this_broker.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_companion }} {{ pb_form.who_is_this_companion.label_tag }}
                </div>
            </div>
        </div>
        <div class="col-sm-7">
            <div class="inner">
                <div class="person-box-number">PB{{ counter }}</div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_india_trafficker }} {{ pb_form.who_is_this_india_trafficker.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_contact_of_husband }} {{ pb_form.who_is_this_contact_of_husband.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_known_trafficker }} {{ pb_form.who_is_this_known_trafficker.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_manpower }} {{ pb_form.who_is_this_manpower.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_passport }} {{ pb_form.who_is_this_passport.label_tag }}
                </div>
                <div class="checkbox-group">
                    {{ pb_form.who_is_this_sex_industry }} {{ pb_form.who_is_this_sex_industry.label_tag }}
                </div>
            </div>
        </div>
    </div>

    <div class="person-box row">
        <label class="blending-into-input-label">Name</label>

        <div class="inline-radio-group">
            {{ pb_form.gender.label_tag }}
            {% for choice in pb_form.gender %}
                {{ choice }}
            {% endfor %}
        </div>

        {{ pb_form.name }}
        <div class="col-sm-6">
            <div class="label-inside-field">
                {{ pb_form.address_district.label_tag }}{{ pb_form.address_district }}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="label-inside-field">
                {{ pb_form.address_vdc.label_tag }}{{ pb_form.address_vdc }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="label-inside-field">
                {{ pb_form.address_ward.label_tag }}{{ pb_form.address_ward }}
            </div>
        </div>
        <div class="col-sm-8">
            <div class="label-inside-field">
                {{ pb_form.phone.label_tag }}{{ pb_form.phone }}
            </div>
        </div>
    </div>

    <div class="person-box row">
        <div class="col-sm-4">
            <div class="label-inside-field">
                {{ pb_form.age.label_tag }}{{ pb_form.age }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="label-inside-field">
                {{ pb_form.height.label_tag }}{{ pb_form.height }}
            </div>
        </div>
        <div class="col-sm-4">
            <div class="label-inside-field">
                {{ pb_form.weight.label_tag }}{{ pb_form.weight }}
            </div>
        </div>
    </div>
    <div class="person-box row">
        <h2>Physical Description</h2>
        {% for choice in pb_form.physical_description %}
            <div class="inline-radio-group">
                {{ choice }}
            </div>
        {% endfor %}
    </div>

    <div class="person-box row">
        <h2>Appearance Other <small>(hairstyle, facial hair, mouth, nose, eyes, glasses, tattoos, birth marks, etc.)</small></h2>
        {{ pb_form.appearance_other }}
    </div>

    <div class="person-box row">
        <h2>What is this person's occupation?</h2>
        <div class="inline-radio-group">{{ pb_form.occupation.0 }} {{ pb_form.occupation.0.label_tag }}</div>
    </div>
    <div class="person-box row">
        <div class="col-sm-4" style="width: 40%">
            {% for choice in pb_form.occupation|slice:"1:3" %}
                <div class="radio-group">{{ choice }} {{ choice.label_tag }}</div>
            {% endfor %}
            <div class="label-inside-field">
                {{ pb_form.occupation.3 }}
                {{ pb_form.occupation.3.label_tag }}
                {{ pb_form.occupation_other_value }}
            </div>
        </div>
        <div class="col-sm-4">
            {% for choice in pb_form.occupation|slice:"4:9" %}
                <div class="radio-group">{{ choice }} {{ choice.label_tag }}</div>
            {% endfor %}
        </div>
        <div class="col-sm-4" style="width: 25%">
            {% for choice in pb_form.occupation|slice:"9:14" %}
                <div class="radio-group">{{ choice }} {{ choice.label_tag }}</div>
            {% endfor %}
        </div>
    </div>

    <div class="person-box row">
        <h2>Member of a political Party?</h2>
        <div class="inline-radio-group">{{ pb_form.political_party.0 }} {{ pb_form.political_party.0.label_tag }}</div>
    </div>
    <div class="person-box row">
        <div class="col-sm-4" style="width: 39%">
            {% for choice in pb_form.political_party|slice:"1:6" %}
                <div class="radio-group">{{ choice }} {{ choice.label_tag }}</div>
            {% endfor %}
        </div>
        <div class="col-sm-8" style="width: 60%">
            {% for choice in pb_form.political_party|slice:"6:9" %}
                <div class="radio-group">{{ choice }} {{ choice.label_tag }}</div>
            {% endfor %}

            <label class="blending-into-input-label">{{ pb_form.political_party.10 }} {{ pb_form.political_party.10.label_tag }}</label>

            <div class="inline-radio-group">
                {{ pb_form.political_party.9 }}
                {{ pb_form.political_party.9.label_tag }}
            </div>

            {{ pb_form.political_party_other_value }}
        </div>
    </div>

    <div class="person-box row">
        <h2>Where does he spend most of his time? How can we get ahold of or find him?</h2>
        {{ pb_form.where_spends_time|attr:"rows:2"|add_class:"full-width" }}
    </div>

    <div class="person-box row">
        <h2 style="margin-left: 40px">Which do you believe about him?</h2>
        <div class="clearfix">
            <div class="pull-left interviewer-believes-box">
                {{ pb_form.interviewer_believes_has_trafficked_many_girls }}
                <br/>
                {{ pb_form.interviewer_believes_has_trafficked_some_girls }}
                <br/>
                {{ pb_form.interviewer_believes_is_trafficker }}
                <br/>
                {{ pb_form.interviewer_believes_is_not_trafficker }}
            </div>
            <div class="pull-right victim-believes-box">
                {{ pb_form.victim_believes_has_trafficked_many_girls }}
                <br/>
                {{ pb_form.victim_believes_has_trafficked_some_girls }}
                <br/>
                {{ pb_form.victim_believes_is_trafficker }}
                <br/>
                {{ pb_form.victim_believes_is_not_trafficker }}
            </div>
            <div class="text-center">
                Definitely trafficked many girls
                <br/>
                Has trafficked some girls
                <br/>
                Suspect he's a trafficker
                <br/>
                Don't believe he's a trafficker
            </div>
        </div>
    </div>

    <div class="person-box row">
        <h2>Is this person associated with any of the places below?</h2>
        {% for choice in pb_form.associated_with_place %}
            <div class="inline-radio-group">
                {{ choice }}
            </div>
        {% endfor %}
        <span class="blue-arrow">LB# {{ pb_form.associated_with_place_value|attr:"style: width: 40px" }}</span>
    </div>
</div>

