{% extends "dataentry/dataentry_base.html" %}
{% load bootstrap %}
{% load times %}

{% block title %}All VIFs{% endblock %}

{% block body_class %}victiminterview_list{% endblock %}


{% block content %}
{% if request.user.permission_vif_view %}
    <p class="pull-right" style="margin-top: 30px"><a class="btn btn-primary" href="{% url 'victiminterview_csv_export' %}">Export as CSV</a></p>
{% endif %}

{% if request.user.permission_vif_view %}
    <h1>All VIFs</h1>
    {% if victiminterview_list %}
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>VIF #</th>
                <th>Interviewer</th>
                <th># of victims</th>
                <th># of traffickers</th>
                <th>Date<br/>of Interview</th>
                <th>Date/Time<br/>Entered Into System</th>
                <th>Date/Time<br/>Last Edited</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for vif in victiminterview_list %}
            <tr>
                <td class="vif-number">{{ vif.vif_number }}</td>
                <td>{{ vif.interviewer }}</td>
                <td>{{ vif.number_of_victims }}</td>
                <td>{{ vif.number_of_traffickers }}</td>
                <td>{{ vif.date }}</td>
                <td>{{ vif.date_time_entered_into_system }}</td>
                <td>{{ vif.date_time_last_updated }}</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="{% url 'victiminterview_detail' vif.pk %}">View</a>
                    {% if request.user.permission_vif_edit %}
                        <a class="btn btn-sm btn-primary" href="{% url 'victiminterview_update' vif.pk %}">Edit</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody> 
    </table>
    {% else %}
    <p>There are not yet any VIFs in the database.</p>
    {% endif %}
{% else %}
    <h1>VIFs</h1>
{% endif %}

{% if request.user.permission_vif_add %}

<div id="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-inner navbar-content-center">
                <a class="pull-right btn btn-success navbar-btn" href="{% url 'victiminterview_create' %}">Input A New VIF</a>
            </div>
            <ul class="pagination pull-left" style="margin: 10px !important">
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&laquo;</a></li>
                {% endif %}

                {% for i in page_obj.paginator.num_pages|times %}
                <li{% if page_obj.number == i|add:"1" %} class="active"{% endif %}>
                    <a href="?page={{ i|add:"1" }}">{{ i|add:"1" }}</a>
                </li>
                {% endfor %}

                {% if page_obj.has_next %} 
                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><a href="">&raquo;</a></li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
</div>


{% endif %}
{% endblock %}
