{% extends "index.html" %}
{% comment %} {% block sidebar %}
    <div class="col-3 sidebar"></div>
{% endblock sidebar %} {% endcomment %}
{% block main %}
    <div class="container">
        <form action="">
            <div class="row">
                <div class="col-6">
                    <input type="radio" id="upload" name="photo_1" value="upload" checked>
                    <label for="upload">Upload photo</label>
                    <br>
                    <input type="radio" id="select" name="photo_1" value="select">
                    <label for="select">Select photo from records</label>
                    <br>
                </div>
                <div class="col-6">
                    <form action="">
                        <input type="radio" id="upload" name="photo_2" value="upload" checked>
                        <label for="upload">Upload photo</label>
                        <br>
                        <input type="radio" id="select" name="photo_2" value="select">
                        <label for="select">Select photo from records</label>
                        <br>
                    </div>
                    <input type="submit" value="submit">
                </div>
            </form>
            <div class="row">
                <div class="col-6">
                    {% if photo_1_form %}
                        <form enctype="multipart/form-data"
                              name="photo_1_form"
                              action="#"
                              method="post">
                            {% csrf_token %}
                            {{ photo_1_form }}
                            {% comment %} <button type="submit" class="btn btn-primary mt-2"name="submit-upload-photo">Submit</button> {% endcomment %}
                        </form>
                    {% endif %}
                </div>
                <div class="col-6">
                    {% if photo_2_form %}
                        <form enctype="multipart/form-data"
                              name="photo_2_form"
                              action="#"
                              method="post">
                            {% csrf_token %}
                            {{ photo_2_form }}
                            {% comment %} <button type="submit" class="btn btn-primary mt-2"name="submit-upload-photo">Submit</button> {% endcomment %}
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <h2>Results:</h2>
                {% include "matching_results.html" %}
            </div>
        </div>
    {% endblock main %}
