{% comment %} TODO: Fix hamburger not displaying links {% endcomment %}
<nav id="navigation"
     class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Facematcher</a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navigation">
        <ul class="navbar-nav me-auto mb-2 mb-0 justify-content-center">
            <li class="nav-item ">
                <a class="nav-link {% if nav == 'compare' %}active{% endif %}"
                   href="{% url 'compare_photos' %}">Compare two images</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if nav == 'select' or not nav %}active{% endif %}"
                   href="{% url 'select_from_records' %}">Select from records</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if nav == 'upload' %}active{% endif %}"
                   href="{% url 'upload_photo' %}">Upload photo</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link {% if nav == 'take' %}active{% endif %}"
                   href="{% url 'take_photo' %}">Take photo</a>
            </li>
        </ul>
        <span class="navbar-text" href="#">Hello, x</span>
        <a class="col-auto nav-link" href="#">Sign out</a>
    </div>
</nav>
