{% extends "index.html" %}
{% block main %}
    <ul class="px-4">
        <li>
            <h3>Compare photos</h3>
            <p>
                You can compare two photos with Facematcher. For each photo you can either upload an existing photo, take a photo, or select a photo from the records.
            </p>
        </li>
        <li>
            <h3>Select from records</h3>
            <p>
                You can search for a record by country, role, gender, and IRF record, then search for matching faces withing the same parameters.
            </p>
        </li>
        <li>
            <h3>Upload photos</h3>
            <p>Upload a JPEG, JPG, PNG, or PDF containing a face, then search for matching faces within provided parameters.</p>
        </li>
        <li>
            <h3>Take photo</h3>
            <p>Take a photo using your devices camera and look for matching faces within provided parameters.</p>
        </li>
    </ul>
{% endblock main %}
