<!DOCTYPE html>
<html lang="en">
  <head>
    {% block title %}
      <title>Facematcher</title>
    {% endblock title %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'records/index.css' %}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  {% block navbar %}
    {% include "header.html" %}
  {% endblock navbar %}
  <body class="container-fluid">
    <div class="row m-4">
      {% block sidebar %}
      {% endblock sidebar %}
      {% block main %}
      {% endblock main %}
    </div>
  </body>
</html>
