<div class="col-3 sidebar">
    {% if person_form %}
        <form name="person_form" action="#" method="get">
            {{ person_form }}
            <button class="btn btn-sm btn-primary mt-2"
                    name="submit-person"
                    type="submit">Go</button>
        </form>
    {% endif %}
    {% if irf_form %}
        <form name="irf_form" action="#" method="get">
            {{ irf_form }}
            <button class="btn btn-sm btn-primary mt-2" name="submit-irf" type="submit">Go</button>
        </form>
    {% endif %}
    <form name='params_form' method="get" class="flex-column">
        {{ params_form }}
        <button type="submit"
                class="btn btn-sm btn-primary mt-2"
                name="submit-params">Go</button>
    </form>
</div>
