body {
    padding-top: 70px;
}

.navbar {
    padding-right: 20px;
}

body#interceptionrecord_create, body#interceptionrecord_update {
    td {
        vertical-align: middle;
    }
    .center {
        text-align: center;
    }
    .form-page {
        background-image: url(/static/images/irf-background.png);
        background-size: 100%;
        border: 1px solid #888;
        box-shadow: 2px 2px 2px black;
        padding: 50px;
        color: black;
        margin-bottom: 32px;
        margin-top: 20px;
    }
    table, td, tr, thead, th, tbody {
        border-color: black;
    }
    th {
        text-align: center;
    }
    label {
        display: inline;
        color: #800000;
    }
    .bg-danger {
        background-color: rgba(128, 0, 0, 0.2);
        padding: 8px;
    }
    .bg-success {
        background-color: rgba(0, 128, 0, 0.2);
        padding: 8px;
    }
    .bg-primary {
        background-color: rgba(0, 0, 128, 0.3);
        padding: 8px;
        color: black;
    }
    .text-danger {
        color: #800000;
    }
    .text-success {
        color: #4F6128;
    }
    .red-flag {
        background-image: url(/static/images/red-flag.png);
        color: #EADC9F;
        font-size: 13px;
        font-weight: bold;
        line-height: 32px;
        width: 32px;
        height: 31px;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }
    .green-light {
        background-image: url(/static/images/green-light.png);
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle;
    }
    .interceptee-form {
        background-color: white;
    }
    .interceptee-form input, .interceptee-form select {
        width: 100%;
        padding: 11px 4px;
    }
    .interceptee-form td {
        padding: 0;
    }

    .photo {
        border: 1px solid #444;
        width: 100%;
        height: 100%;
        margin-bottom: 21px;
        text-align: center;
        line-height: 100%;
    }
    .photo img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .interceptee-number {
        position: absolute;
        left: 88px;
        margin-top: -2px;
    }

    .signature-box {
        border: 1px solid #444;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 20px;
    }
    .form-group {
        margin-bottom: 0;
    }
    .help-block {
        margin-bottom: 0;
    }
}
