<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} | Tiny Hands Dream Suite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">
    <link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}jquery-ui/jquery-ui.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}datetimepicker/jquery.datetimepicker.css" rel="stylesheet" media="screen">
    <!--<link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>-->

    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}style.less" />
    {% comment %}
    <script>
        less = {
            env: "development",
            async: false,
            fileAsync: false,
            poll: 200,
            functions: {},
            dumpLineNumbers: "comments",
            relativeUrls: false
        };
    </script>
    {% endcomment %}

    {% block head %}{% endblock %}

    <script src="{{ STATIC_URL }}less.js"></script>
    <script src="{{ STATIC_URL }}jquery.js"></script>
    <script src="{{ STATIC_URL }}/jquery-ui/jquery-ui.js"></script>
</head>
{% comment %}
Add a class to the body tag that is the same as the url's name.  We can then check this
in the Javascript and run code unique to the current page.
{% endcomment %}
<body id="{{ request.resolver_match.url_name }}">

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="margin-top: -10px" href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/tiny-hands-logo.png" alt="Tiny Hands" /></a>
        </div>

        <div class="collapse navbar-collapse navbar-header-collapse">
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url 'interceptionrecord_list' %}">Forms</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                <a href="#">Nepal Time: {% now "n.j.Y g:iA" %}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello {{ request.user.get_full_name }}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% if request.user.permission_accounts_manage %}
                        <li><a href="{% url 'account_list' %}">Accounts and Permissions</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div><!-- /.navbar-collapse -->
    </div>

<div class="container">
{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
{% block tab_block %}{% endblock %}
</div>

{% block sticky_footer %}
{% endblock %}


<script src="{{ STATIC_URL }}datetimepicker/jquery.datetimepicker.js"></script>
<script src="{{ STATIC_URL }}bootstrap.js"></script>
<script src="{{ STATIC_URL }}jquery.deserialize.js"></script>
{% block foot %}
{% endblock %}
<script src="{{ STATIC_URL }}all-pages.js"></script>
<script src="{{ STATIC_URL }}geocodelocations.js"></script>
<script src="{{ STATIC_URL }}station-suggestions.js"></script>
</body>
</html>
