<!DOCTYPE html>
<html>
<head>
    <title>Tiny Hands Dream Suite {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico">

    <link href="{{ STATIC_URL }}bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" media="screen">
    {% block head %}{% endblock %}
</head>
<body class="{% block body_class %}default{% endblock %}">

{% if messages %}
<div class="alert-container">
    {% for message in messages %}
    <div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-header-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="margin-top: -10px" href="{% url 'home' %}"><img src="{{ STATIC_URL }}images/tiny-hands-logo.png" alt="Tiny Hands" /></a>
    </div>

    <div class="collapse navbar-collapse navbar-header-collapse">
        {% if request.user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="{% url 'interceptionrecord_list' %}">Forms</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello {{ request.user.get_full_name }}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'account_list' %}">Accounts and Permissions</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div><!-- /.navbar-collapse -->
</nav>

<div class="container">
{% block tab_block %}{% endblock %}
</div>

<script src="{{ STATIC_URL }}jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap.js"></script>
<script src="{{ STATIC_URL }}all-pages.js"></script>
{% block foot %}
{% endblock %}

</body>
</html>
