{% extends "base.html" %}
{% load widget_tweaks %}
{% load bootstrap %}

{% block title %}Reset Password{% endblock %}

{% block tab_block %}
<div class="well col-sm-6 col-sm-offset-3">
    <h2>Password Reset</h2>
    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
    <form method="POST">{% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" class="btn btn-primary btn-lg" value="Send password reset email" />
    </form>
</div>
{% endblock %}


